.complex-article {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  max-width: auto;
  align-items: center;
  flex-direction: column;
}
.complex-image {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
  margin-left: 0px;
}
.complex-image1 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.complex-content {
  gap: var(--dl-space-space-threeunits);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.complex-link {
  display: contents;
}
.complex-heading {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.complex-header {
  color: var(--dl-color-gray-black);
  width: auto;
  font-size: 54px;
  max-width: auto;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 54px;
}
.complex-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.complex-image2 {
  width: 100%;
  height: var(--dl-size-size-medium);
  align-self: center;
  object-fit: cover;
}
.complex-container1 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.complex-header1 {
  color: var(--dl-color-gray-black);
  width: auto;
  font-size: 36px;
  max-width: 800px;
  align-self: center;
  font-style: normal;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 36px;
}
.complex-image3 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.complex-root-class-name {
  width: auto;
  margin-top: var(--dl-space-space-sixunits);
}
.complex-root-class-name1 {
  width: auto;
}
.complex-root-class-name2 {
  width: auto;
}
.complex-root-class-name3 {
  width: auto;
}
.complex-root-class-name4 {
  width: auto;
}
.complex-root-class-name5 {
  width: auto;
}
.complex-root-class-name6 {
  width: auto;
}
.complex-root-class-name7 {
  width: auto;
}
.complex-root-class-name8 {
  width: auto;
  margin-top: var(--dl-space-space-sixunits);
}
.complex-root-class-name9 {
  width: auto;
  margin-top: var(--dl-space-space-sixunits);
}
.complex-root-class-name10 {
  width: auto;
  margin-top: var(--dl-space-space-sixunits);
}
.complex-root-class-name11 {
  width: auto;
  margin-top: var(--dl-space-space-sixunits);
}
.complex-root-class-name12 {
  width: auto;
  margin-top: var(--dl-space-space-sixunits);
}
@media(max-width: 991px) {
  .complex-image {
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
  .complex-image2 {
    width: 100%;
    height: var(--dl-size-size-medium);
  }
}
@media(max-width: 767px) {
  .complex-image {
    width: 100%;
    align-self: center;
  }
  .complex-image1 {
    align-self: center;
  }
  .complex-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .complex-header {
    font-size: 32px;
    line-height: 38px;
  }
  .complex-header1 {
    font-size: 20px;
    line-height: 22px;
  }
}
@media(max-width: 479px) {
  .complex-article {
    height: auto;
    justify-content: center;
  }
  .complex-image {
    width: 100%;
    height: auto;
    align-self: flex-start;
    margin-left: 0px;
  }
  .complex-image1 {
    width: 100%;
    height: auto;
  }
  .complex-content {
    align-items: center;
  }
  .complex-heading {
    align-items: center;
  }
  .complex-image2 {
    width: 100%;
    height: var(--dl-size-size-small);
  }
  .complex-header1 {
    font-size: 20px;
    text-align: center;
    line-height: 22px;
  }
  .complex-image3 {
    width: 100%;
    height: auto;
  }
  .complex-root-class-name {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name1 {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name2 {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name3 {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name4 {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name5 {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name6 {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name7 {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name8 {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name9 {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name10 {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name11 {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name12 {
    width: 100%;
    align-self: center;
  }
}

.tran-hung-dao-article {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  max-width: auto;
  align-items: center;
  flex-direction: column;
}
.tran-hung-dao-image {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tran-hung-dao-content {
  gap: var(--dl-space-space-threeunits);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tran-hung-dao-link {
  display: contents;
}
.tran-hung-dao-heading {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.tran-hung-dao-image1 {
  width: 80%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tran-hung-dao-header {
  color: var(--dl-color-gray-black);
  width: auto;
  font-size: 54px;
  max-width: auto;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 54px;
}
.tran-hung-dao-header1 {
  color: var(--dl-color-gray-black);
  width: auto;
  font-size: 36px;
  max-width: 800px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 36px;
}






@media(max-width: 991px) {
  .tran-hung-dao-image {
    width: 100%;
    margin-left: 0px;
  }
  .tran-hung-dao-image1 {
    width: 80%;
  }
}
@media(max-width: 767px) {
  .tran-hung-dao-image {
    width: 85%;
    margin-left: 0px;
  }
  .tran-hung-dao-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .tran-hung-dao-image1 {
    width: 70%;
  }
  .tran-hung-dao-header {
    font-size: 32px;
    line-height: 38px;
  }
  .tran-hung-dao-header1 {
    font-size: 20px;
    line-height: 22px;
  }
}
@media(max-width: 479px) {
  .tran-hung-dao-article {
    height: auto;
  }
  .tran-hung-dao-image {
    width: 100%;
    height: var(--dl-size-size-large);
    align-self: center;
    margin-left: 0px;
  }
  .tran-hung-dao-content {
    align-items: center;
  }
  .tran-hung-dao-heading {
    align-items: center;
  }
  .tran-hung-dao-image1 {
    width: 80%;
    height: auto;
  }
  .tran-hung-dao-header1 {
    font-size: 20px;
    text-align: center;
    line-height: 22px;
  }
}

.commercialvn-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.commercialvn-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.commercialvn-main {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.commercialvn-video {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 110%;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.commercialvn-video1 {
  left: -264px;
  width: 1800px;
  bottom: 0px;
  height: auto;
  opacity: 1;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius4);
}
.commercialvn-tint {
  width: 100%;
  height: 1127px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.commercialvn-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  height: auto;
  margin: auto;
  display: flex;
  max-width: 900px;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.commercialvn-header {
  top: -31px;
  left: 0px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 90px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 90px;
}
.commercialvn-caption {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  font-size: 90px;
  max-width: 900px;
  font-style: normal;
  margin-top: var(--dl-space-space-sixunits);
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 800;
  line-height: 24px;
  padding-top: var(--dl-space-space-sixunits);
}
.commercialvn-content {
  width: 100%;
  height: 311px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.commercialvn-navbar {
  width: 100%;
  height: 135px;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-self: center;
  align-items: center;
  padding-top: 11px;
  justify-content: space-between;
}
.commercialvn-container1 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.commercialvn-logo {
  top: var(--dl-space-space-unit);
  left: 0px;
  bottom: 0px;
  height: 72px;
  margin: auto;
  position: absolute;
  align-self: flex-end;
}
.commercialvn-menu {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.commercialvn-links {
  gap: var(--dl-space-space-threeunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.commercialvn-hamburger {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  aspect-ratio: 1;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: var(--dl-color-success-300);
}
.commercialvn-icon {
  fill: #ffffff;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.commercialvn-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1535732759880-bbd5c7265e3f?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDR8fGNvbnN0cnVjdGlvbnxlbnwwfHx8fDE2Nzk5OTcwMTY&ixlib=rb-4.0.3&w=1500');
}
.commercialvn-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.commercialvn-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.commercialvn-image {
  height: 2rem;
}
.commercialvn-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.commercialvn-icon02 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.commercialvn-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.commercialvn-option {
  color: #000000;
  align-self: flex-start;
  font-family: Arial;
  border-color: #ffffff;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.commercialvn-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialvn-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.commercialvn-link {
  color: #000000;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.commercialvn-dropdown-arrow {
  transition: 0.3s;
}
.commercialvn-icon04 {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.commercialvn-dropdown-list {
  top: 0;
  left: 100%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.commercialvn-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialvn-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.commercialvn-dropdown-toggle01:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.commercialvn-link1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.commercialvn-dropdown01 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialvn-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.commercialvn-dropdown-toggle02:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.commercialvn-link2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.commercialvn-dropdown02 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialvn-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.commercialvn-dropdown-toggle03:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.commercialvn-link3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.commercialvn-dropdown03 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialvn-dropdown-toggle04 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.commercialvn-dropdown-toggle04:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.commercialvn-link4 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.commercialvn-dropdown04 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialvn-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.commercialvn-dropdown-toggle05:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.commercialvn-architecture {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.commercialvn-option1 {
  color: #000000;
  align-self: flex-start;
  font-family: Arial;
  border-color: #ffffff;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.commercialvn-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.commercialvn-login {
  text-align: center;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.commercialvn-login1 {
  text-align: center;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.commercialvn-register {
  text-align: center;
  text-decoration: none;
}
.commercialvn-icon-group {
  display: flex;
}
.commercialvn-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.commercialvn-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.commercialvn-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.commercialvn-links1 {
  gap: var(--dl-space-space-threeunits);
  width: 901px;
  height: 73px;
  display: flex;
  position: relative;
  align-self: flex-end;
  align-items: center;
  margin-right: 0px;
  flex-direction: row;
  justify-content: center;
}
.commercialvn-link5 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.commercialvn-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialvn-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.commercialvn-text014 {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
.commercialvn-dropdown-arrow1 {
  transition: 0.3s;
}
.commercialvn-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.commercialvn-dropdown05 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialvn-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.commercialvn-dropdown-toggle07:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.commercialvn-commercial {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.commercialvn-dropdown06 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialvn-dropdown-toggle08 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.commercialvn-dropdown-toggle08:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.commercialvn-industrial {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.commercialvn-dropdown07 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialvn-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.commercialvn-dropdown-toggle09:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.commercialvn-development {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.commercialvn-dropdown08 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialvn-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.commercialvn-dropdown-toggle10:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.commercialvn-fit-out {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.commercialvn-dropdown09 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialvn-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.commercialvn-dropdown-toggle11:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.commercialvn-architecture1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.commercialvn-link6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-right: var(--dl-space-space-sixunits);
  text-decoration: none;
}
.commercialvn-option2 {
  color: rgb(255, 255, 255);
  width: 130px;
  font-size: 16px;
  font-style: normal;
  font-family: Arial;
  font-weight: 400;
  text-decoration: none;
  background-color: var(--dl-color-success-300);
}
.commercialvn-text017 {
  font-size: 14px;
}
.commercialvn-option3 {
  color: rgb(255, 255, 255);
  width: 130px;
  font-size: 14px;
  font-family: Arial;
  text-decoration: none;
  background-color: var(--dl-color-success-300);
}
.commercialvn-option4 {
  color: rgb(255, 255, 255);
  width: 130px;
  height: auto;
  font-size: 14px;
  font-family: Arial;
  text-decoration: none;
  background-color: var(--dl-color-success-300);
}
.commercialvn-reference-projects {
  gap: 220px;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1440px;
  align-self: center;
  align-items: center;
  padding-top: 101px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 160px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.commercialvn-fleminton-resident {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.commercialvn-image01 {
  height: 530px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.commercialvn-image02 {
  width: 540px;
  height: 540px;
  object-fit: cover;
}
.commercialvn-content1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.commercialvn-heading1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.commercialvn-header1 {
  color: rgb(53, 43, 42);
  width: auto;
  font-size: 60px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 60px;
}
.commercialvn-caption01 {
  color: rgb(53, 43, 42);
  font-size: 18px;
  max-width: 600px;
  text-align: left;
  font-family: Karla;
  line-height: 27px;
}
.commercialvn-flemington-office {
  gap: 120px;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.commercialvn-content2 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.commercialvn-heading2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: auto;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.commercialvn-header2 {
  color: rgb(53, 43, 42);
  font-size: 60px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 60px;
}
.commercialvn-caption02 {
  color: rgb(53, 43, 42);
  width: auto;
  height: auto;
  font-size: 18px;
  max-width: 600px;
  text-align: left;
  font-family: Karla;
  line-height: 27px;
}
.commercialvn-image03 {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.commercialvn-image04 {
  width: 540px;
  height: 540px;
  align-self: center;
  object-fit: cover;
}
.commercialvn-cetpa {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.commercialvn-image05 {
  height: 530px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.commercialvn-image06 {
  width: 540px;
  height: 540px;
  object-fit: cover;
}
.commercialvn-content3 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.commercialvn-heading3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.commercialvn-image07 {
  width: var(--dl-size-size-large);
  height: auto;
  object-fit: cover;
}
.commercialvn-header3 {
  color: rgb(53, 43, 42);
  font-size: 60px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 60px;
}
.commercialvn-caption03 {
  color: rgb(53, 43, 42);
  font-size: 18px;
  max-width: 600px;
  text-align: left;
  font-family: Karla;
  line-height: 27px;
}
.commercialvn-tran-hung-dao-2 {
  gap: 120px;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.commercialvn-content4 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.commercialvn-heading4 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.commercialvn-header4 {
  color: rgb(53, 43, 42);
  font-size: 60px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 60px;
}
.commercialvn-caption04 {
  color: rgb(53, 43, 42);
  width: auto;
  height: auto;
  font-size: 18px;
  max-width: 600px;
  text-align: left;
  font-family: Karla;
  line-height: 27px;
}
.commercialvn-image08 {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.commercialvn-image09 {
  width: 540px;
  height: 540px;
  object-fit: cover;
}
.commercialvn-highlight {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.commercialvn-image10 {
  height: 530px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.commercialvn-image11 {
  width: 540px;
  height: 540px;
  object-fit: cover;
}
.commercialvn-content5 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.commercialvn-heading5 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.commercialvn-header5 {
  color: rgb(53, 43, 42);
  font-size: 60px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 60px;
}
.commercialvn-caption05 {
  color: rgb(53, 43, 42);
  font-size: 18px;
  max-width: auto;
  text-align: left;
  font-family: Karla;
  line-height: 27px;
}
.commercialvn-highlight1 {
  gap: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.commercialvn-content6 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.commercialvn-heading6 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: auto;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.commercialvn-header6 {
  color: rgb(53, 43, 42);
  font-size: 60px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 60px;
}
.commercialvn-caption06 {
  color: rgb(53, 43, 42);
  height: auto;
  font-size: 18px;
  max-width: 600px;
  text-align: left;
  font-family: Karla;
  line-height: 27px;
}
.commercialvn-image12 {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.commercialvn-image13 {
  width: 540px;
  height: 540px;
  object-fit: cover;
}
.commercialvn-caption07 {
  color: var(--dl-color-gray-black);
  width: 715px;
  height: auto;
  font-size: 16px;
  max-width: 900px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: left;
  font-family: Karla;
  font-weight: 400;
  line-height: 18px;
  padding-top: var(--dl-space-space-halfunit);
  margin-bottom: 11px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.commercialvn-find {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 422px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-end;
  background-color: #477E5D;
}
.commercialvn-heading7 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.commercialvn-header7 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 600;
  line-height: 22px;
}
.commercialvn-caption08 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  align-self: center;
  text-align: center;
  font-family: Karla;
  line-height: 24px;
}
.commercialvn-text108 {
  text-decoration: underline;
}
.commercialvn-text112 {
  text-decoration: underline;
}
.commercialvn-find1 {
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(250, 216, 122);
}
.commercialvn-find1:hover {
  opacity: 0.5;
}
.commercialvn-footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #352B2A;
}
.commercialvn-content7 {
  gap: 120px;
  width: auto;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.commercialvn-footer1 {
  width: 959px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.commercialvn-branding {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.commercialvn-heading8 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 119px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.commercialvn-image14 {
  height: 27px;
  object-fit: cover;
}
.commercialvn-caption09 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  align-self: center;
  text-align: left;
  line-height: 21px;
}
.commercialvn-links2 {
  gap: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.commercialvn-items {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.commercialvn-reference-projects1 {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.commercialvn-commercial1 {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-left: 16px;
  text-decoration: none;
}
.commercialvn-industrial1 {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-left: 16px;
  text-decoration: none;
}
.commercialvn-development1 {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-left: 16px;
  text-decoration: none;
}
.commercialvn-fit-out1 {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-left: 16px;
  text-decoration: none;
}
.commercialvn-architecture2 {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-left: 16px;
  text-decoration: none;
}
.commercialvn-items1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.commercialvn-link7 {
  text-decoration: none;
}
.commercialvn-link8 {
  text-decoration: none;
}
.commercialvn-items2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.commercialvn-option5 {
  color: rgb(255, 255, 255);
  width: 121px;
  font-family: Arial;
  text-decoration: none;
}
.commercialvn-option6 {
  color: rgb(255, 255, 255);
  width: 122px;
  font-family: Arial;
  text-decoration: none;
}
.commercialvn-option7 {
  color: #ffffff;
  width: 130px;
  font-family: Arial;
  text-decoration: none;
}
.commercialvn-copyright {
  color: rgb(118, 105, 104);
  font-size: 12px;
  align-self: center;
}
@media(max-width: 991px) {
  .commercialvn-caption {
    color: var(--dl-color-gray-white);
    font-size: 36px;
    max-width: auto;
    line-height: 36px;
  }
  .commercialvn-logo {
    left: 0px;
    bottom: 3px;
  }
  .commercialvn-links {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .commercialvn-links1 {
    gap: var(--dl-space-space-halfunit);
    right: 0px;
    width: 673px;
    bottom: -3px;
    margin: auto;
    opacity: 0;
    position: absolute;
  }
  .commercialvn-reference-projects {
    gap: 135px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .commercialvn-fleminton-resident {
    gap: var(--dl-space-space-twounits);
    width: auto;
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .commercialvn-image02 {
    width: 540px;
  }
  .commercialvn-heading1 {
    max-width: auto;
  }
  .commercialvn-header1 {
    color: rgb(53, 43, 42);
    width: auto;
    font-size: 60px;
    font-style: normal;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 60px;
  }
  .commercialvn-flemington-office {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
  }
  .commercialvn-caption02 {
    height: auto;
  }
  .commercialvn-cetpa {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .commercialvn-image07 {
    width: var(--dl-size-size-large);
    height: auto;
  }
  .commercialvn-tran-hung-dao-2 {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
  }
  .commercialvn-caption04 {
    height: auto;
  }
  .commercialvn-highlight {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .commercialvn-highlight1 {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
  }
  .commercialvn-caption06 {
    height: auto;
  }
  .commercialvn-caption07 {
    height: auto;
  }
  .commercialvn-header7 {
    color: rgb(255, 255, 255);
  }
  .commercialvn-footer {
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
  }
  .commercialvn-content7 {
    gap: var(--dl-space-space-threeunits);
    width: 604px;
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
  }
  .commercialvn-footer1 {
    gap: var(--dl-space-space-threeunits);
    width: 401px;
    padding-left: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: flex-start;
  }
  .commercialvn-branding {
    max-width: 80%;
  }
  .commercialvn-heading8 {
    gap: var(--dl-space-space-unit);
  }
  .commercialvn-links2 {
    gap: var(--dl-space-space-threeunits);
    width: 321px;
    padding-left: var(--dl-space-space-sixunits);
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .commercialvn-main {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .commercialvn-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .commercialvn-header {
    font-size: 40px;
    line-height: 40px;
  }
  .commercialvn-caption {
    color: var(--dl-color-gray-white);
    width: 400%;
    height: auto;
    font-size: 36px;
    max-width: 80%;
    font-style: normal;
    margin-top: var(--dl-space-space-halfunit);
    font-family: Cormorant Infant;
    font-weight: 800;
    line-height: 38px;
    padding-top: var(--dl-space-space-halfunit);
  }
  .commercialvn-content {
    align-self: center;
  }
  .commercialvn-navbar {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .commercialvn-logo {
    left: 0px;
    bottom: 7px;
    height: 72px;
    position: absolute;
    align-self: flex-start;
  }
  .commercialvn-menu {
    display: flex;
  }
  .commercialvn-links {
    display: none;
  }
  .commercialvn-links1 {
    display: none;
  }
  .commercialvn-reference-projects {
    height: auto;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .commercialvn-image01 {
    width: 100%;
    height: auto;
  }
  .commercialvn-content1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .commercialvn-heading1 {
    gap: var(--dl-space-space-unit);
  }
  .commercialvn-header1 {
    font-size: 32px;
    line-height: 31px;
  }
  .commercialvn-caption01 {
    font-size: 16px;
    line-height: 24px;
  }
  .commercialvn-content2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .commercialvn-heading2 {
    gap: var(--dl-space-space-unit);
  }
  .commercialvn-header2 {
    font-size: 32px;
    line-height: 30px;
  }
  .commercialvn-text039 {
    font-size: 32px;
    line-height: 30px;
  }
  .commercialvn-text040 {
    font-size: 32px;
    line-height: 30px;
  }
  .commercialvn-text041 {
    font-size: 32px;
    line-height: 30px;
  }
  .commercialvn-caption02 {
    width: 405px;
    height: auto;
    font-size: 16px;
    padding-right: var(--dl-space-space-threeunits);
  }
  .commercialvn-image05 {
    width: 100%;
    height: auto;
    align-self: flex-start;
  }
  .commercialvn-content3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .commercialvn-heading3 {
    gap: var(--dl-space-space-unit);
  }
  .commercialvn-image07 {
    width: var(--dl-size-size-medium);
    height: auto;
  }
  .commercialvn-header3 {
    font-size: 32px;
    line-height: 31px;
  }
  .commercialvn-caption03 {
    font-size: 16px;
    line-height: 24px;
  }
  .commercialvn-content4 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .commercialvn-heading4 {
    gap: var(--dl-space-space-unit);
  }
  .commercialvn-header4 {
    font-size: 32px;
    line-height: 30px;
  }
  .commercialvn-caption04 {
    height: auto;
    font-size: 16px;
  }
  .commercialvn-image10 {
    width: 100%;
    height: auto;
  }
  .commercialvn-content5 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .commercialvn-heading5 {
    gap: var(--dl-space-space-unit);
  }
  .commercialvn-header5 {
    font-size: 32px;
    line-height: 31px;
  }
  .commercialvn-caption05 {
    font-size: 16px;
    line-height: 24px;
  }
  .commercialvn-content6 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .commercialvn-heading6 {
    gap: var(--dl-space-space-unit);
  }
  .commercialvn-header6 {
    font-size: 32px;
    line-height: 30px;
  }
  .commercialvn-caption06 {
    height: auto;
    font-size: 16px;
  }
  .commercialvn-caption07 {
    height: auto;
    font-size: 16px;
    max-width: 80%;
    line-height: 24px;
  }
  .commercialvn-find {
    height: auto;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .commercialvn-heading7 {
    gap: var(--dl-space-space-unit);
  }
  .commercialvn-header7 {
    color: rgb(255, 255, 255);
  }
  .commercialvn-caption08 {
    font-size: 16px;
    line-height: 24px;
  }
  .commercialvn-content7 {
    width: 650px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .commercialvn-footer1 {
    width: 592px;
  }
  .commercialvn-branding {
    max-width: 70%;
  }
}
@media(max-width: 479px) {
  .commercialvn-tint {
    height: 1119px;
    position: 0px;
    align-self: center;
  }
  .commercialvn-heading {
    top: 200px;
    height: auto;
    margin: var(--dl-space-space-halfunit);
    position: static;
    max-width: auto;
    margin-top: 136px;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
  }
  .commercialvn-caption {
    color: var(--dl-color-gray-white);
    width: 458px;
    height: auto;
    font-size: 36px;
    max-width: 100%;
    align-self: center;
    font-style: normal;
    margin-top: var(--dl-space-space-oneandhalfunits);
    font-family: Cormorant Infant;
    font-weight: 800;
    line-height: 36px;
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .commercialvn-content {
    height: 139px;
  }
  .commercialvn-navbar {
    padding: var(--dl-space-space-unit);
    position: 0px;
  }
  .commercialvn-logo {
    top: 16px;
    left: 0px;
    height: 72px;
    position: absolute;
    padding-left: 0px;
  }
  .commercialvn-mobile-menu {
    padding: 16px;
  }
  .commercialvn-reference-projects {
    height: auto;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .commercialvn-image01 {
    justify-content: flex-start;
  }
  .commercialvn-image02 {
    width: 340px;
    height: auto;
    align-self: center;
  }
  .commercialvn-heading1 {
    align-self: flex-start;
  }
  .commercialvn-header1 {
    color: rgb(53, 43, 42);
    font-size: 32px;
    font-style: normal;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 31px;
  }
  .commercialvn-caption01 {
    color: rgb(53, 43, 42);
    width: auto;
    font-size: 18px;
    max-width: auto;
    align-self: flex-start;
    font-family: Karla;
    line-height: 27px;
    padding-right: var(--dl-space-space-fourunits);
  }
  .commercialvn-caption02 {
    padding-right: var(--dl-space-space-fourunits);
  }
  .commercialvn-image04 {
    width: 340px;
    height: auto;
  }
  .commercialvn-image05 {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .commercialvn-image06 {
    width: 340px;
    height: auto;
  }
  .commercialvn-image07 {
    width: auto;
    height: var(--dl-size-size-small);
    align-self: flex-start;
  }
  .commercialvn-caption03 {
    padding-right: var(--dl-space-space-fourunits);
  }
  .commercialvn-heading4 {
    height: auto;
    padding-right: 0px;
  }
  .commercialvn-caption04 {
    height: auto;
    padding-right: var(--dl-space-space-fourunits);
  }
  .commercialvn-image09 {
    width: 340PX;
    height: auto;
  }
  .commercialvn-image10 {
    justify-content: flex-start;
  }
  .commercialvn-image11 {
    width: 340px;
    height: auto;
  }
  .commercialvn-caption05 {
    padding-right: var(--dl-space-space-fourunits);
  }
  .commercialvn-heading6 {
    height: 184px;
  }
  .commercialvn-caption06 {
    padding-right: var(--dl-space-space-fourunits);
  }
  .commercialvn-image13 {
    width: 340px;
    height: auto;
  }
  .commercialvn-caption07 {
    color: var(--dl-color-gray-black);
    width: 458px;
    height: 44px;
    font-size: 14px;
    max-width: 100%;
    align-self: center;
    font-style: normal;
    font-family: Cormorant Infant;
    font-weight: 800;
    line-height: 14px;
  }
  .commercialvn-find {
    height: auto;
  }
  .commercialvn-header7 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 22px;
  }
  .commercialvn-caption08 {
    color: rgb(255, 255, 255);
  }
  .commercialvn-text108 {
    text-decoration: underline;
  }
  .commercialvn-text112 {
    text-decoration: underline;
  }
  .commercialvn-footer1 {
    width: 308px;
  }
}
