.complex-article {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  max-width: auto;
  align-items: center;
  flex-direction: column;
}
.complex-image {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
  margin-left: 0px;
}
.complex-image1 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.complex-content {
  gap: var(--dl-space-space-threeunits);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.complex-link {
  display: contents;
}
.complex-heading {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.complex-header {
  color: var(--dl-color-gray-black);
  width: auto;
  font-size: 54px;
  max-width: auto;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 54px;
}
.complex-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.complex-image2 {
  width: 100%;
  height: var(--dl-size-size-medium);
  align-self: center;
  object-fit: cover;
}
.complex-container1 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.complex-header1 {
  color: var(--dl-color-gray-black);
  width: auto;
  font-size: 36px;
  max-width: 800px;
  align-self: center;
  font-style: normal;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 36px;
}
.complex-image3 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.complex-root-class-name {
  width: auto;
  margin-top: var(--dl-space-space-sixunits);
}
.complex-root-class-name1 {
  width: auto;
}
.complex-root-class-name2 {
  width: auto;
}
.complex-root-class-name3 {
  width: auto;
}
.complex-root-class-name4 {
  width: auto;
}
.complex-root-class-name5 {
  width: auto;
}
.complex-root-class-name6 {
  width: auto;
}
.complex-root-class-name7 {
  width: auto;
}
.complex-root-class-name8 {
  width: auto;
  margin-top: var(--dl-space-space-sixunits);
}
.complex-root-class-name9 {
  width: auto;
  margin-top: var(--dl-space-space-sixunits);
}
.complex-root-class-name10 {
  width: auto;
  margin-top: var(--dl-space-space-sixunits);
}
.complex-root-class-name11 {
  width: auto;
  margin-top: var(--dl-space-space-sixunits);
}
.complex-root-class-name12 {
  width: auto;
  margin-top: var(--dl-space-space-sixunits);
}
@media(max-width: 991px) {
  .complex-image {
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
  .complex-image2 {
    width: 100%;
    height: var(--dl-size-size-medium);
  }
}
@media(max-width: 767px) {
  .complex-image {
    width: 100%;
    align-self: center;
  }
  .complex-image1 {
    align-self: center;
  }
  .complex-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .complex-header {
    font-size: 32px;
    line-height: 38px;
  }
  .complex-header1 {
    font-size: 20px;
    line-height: 22px;
  }
}
@media(max-width: 479px) {
  .complex-article {
    height: auto;
    justify-content: center;
  }
  .complex-image {
    width: 100%;
    height: auto;
    align-self: flex-start;
    margin-left: 0px;
  }
  .complex-image1 {
    width: 100%;
    height: auto;
  }
  .complex-content {
    align-items: center;
  }
  .complex-heading {
    align-items: center;
  }
  .complex-image2 {
    width: 100%;
    height: var(--dl-size-size-small);
  }
  .complex-header1 {
    font-size: 20px;
    text-align: center;
    line-height: 22px;
  }
  .complex-image3 {
    width: 100%;
    height: auto;
  }
  .complex-root-class-name {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name1 {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name2 {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name3 {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name4 {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name5 {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name6 {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name7 {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name8 {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name9 {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name10 {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name11 {
    width: 100%;
    align-self: center;
  }
  .complex-root-class-name12 {
    width: 100%;
    align-self: center;
  }
}

.tran-hung-dao-article {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  max-width: auto;
  align-items: center;
  flex-direction: column;
}
.tran-hung-dao-image {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tran-hung-dao-content {
  gap: var(--dl-space-space-threeunits);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tran-hung-dao-link {
  display: contents;
}
.tran-hung-dao-heading {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.tran-hung-dao-image1 {
  width: 80%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tran-hung-dao-header {
  color: var(--dl-color-gray-black);
  width: auto;
  font-size: 54px;
  max-width: auto;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 54px;
}
.tran-hung-dao-header1 {
  color: var(--dl-color-gray-black);
  width: auto;
  font-size: 36px;
  max-width: 800px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 36px;
}






@media(max-width: 991px) {
  .tran-hung-dao-image {
    width: 100%;
    margin-left: 0px;
  }
  .tran-hung-dao-image1 {
    width: 80%;
  }
}
@media(max-width: 767px) {
  .tran-hung-dao-image {
    width: 85%;
    margin-left: 0px;
  }
  .tran-hung-dao-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .tran-hung-dao-image1 {
    width: 70%;
  }
  .tran-hung-dao-header {
    font-size: 32px;
    line-height: 38px;
  }
  .tran-hung-dao-header1 {
    font-size: 20px;
    line-height: 22px;
  }
}
@media(max-width: 479px) {
  .tran-hung-dao-article {
    height: auto;
  }
  .tran-hung-dao-image {
    width: 100%;
    height: var(--dl-size-size-large);
    align-self: center;
    margin-left: 0px;
  }
  .tran-hung-dao-content {
    align-items: center;
  }
  .tran-hung-dao-heading {
    align-items: center;
  }
  .tran-hung-dao-image1 {
    width: 80%;
    height: auto;
  }
  .tran-hung-dao-header1 {
    font-size: 20px;
    text-align: center;
    line-height: 22px;
  }
}

.commercialcs-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.commercialcs-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.commercialcs-main {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.commercialcs-video {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 110%;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.commercialcs-video1 {
  left: -264px;
  width: 1800px;
  bottom: 0px;
  height: auto;
  opacity: 1;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius4);
}
.commercialcs-tint {
  width: 100%;
  height: 1127px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.commercialcs-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  max-width: 900px;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.commercialcs-header {
  top: -31px;
  left: 0px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 90px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 90px;
}
.commercialcs-caption {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  font-size: 90px;
  max-width: 900px;
  margin-top: var(--dl-space-space-sixunits);
  text-align: center;
  font-family: Arial;
  font-weight: 700;
  line-height: 90px;
  padding-top: var(--dl-space-space-sixunits);
}
.commercialcs-content {
  width: 100%;
  height: 311px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.commercialcs-navbar {
  width: 100%;
  height: 135px;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-self: center;
  align-items: center;
  padding-top: 11px;
  justify-content: space-between;
}
.commercialcs-container1 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.commercialcs-logo {
  top: var(--dl-space-space-unit);
  left: 0px;
  bottom: 0px;
  height: 72px;
  margin: auto;
  position: absolute;
  align-self: flex-end;
}
.commercialcs-menu {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.commercialcs-links {
  gap: var(--dl-space-space-threeunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.commercialcs-hamburger {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  aspect-ratio: 1;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: var(--dl-color-success-300);
}
.commercialcs-icon {
  fill: #ffffff;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.commercialcs-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1535732759880-bbd5c7265e3f?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDR8fGNvbnN0cnVjdGlvbnxlbnwwfHx8fDE2Nzk5OTcwMTY&ixlib=rb-4.0.3&w=1500');
}
.commercialcs-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.commercialcs-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.commercialcs-image {
  height: 2rem;
}
.commercialcs-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.commercialcs-icon02 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.commercialcs-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.commercialcs-option {
  color: #000000;
  align-self: flex-start;
  font-family: Arial;
  border-color: #ffffff;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.commercialcs-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialcs-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.commercialcs-link {
  color: #000000;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.commercialcs-dropdown-arrow {
  transition: 0.3s;
}
.commercialcs-icon04 {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.commercialcs-dropdown-list {
  top: 0;
  left: 100%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.commercialcs-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialcs-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.commercialcs-dropdown-toggle01:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.commercialcs-link1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.commercialcs-dropdown01 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialcs-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.commercialcs-dropdown-toggle02:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.commercialcs-link2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.commercialcs-dropdown02 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialcs-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.commercialcs-dropdown-toggle03:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.commercialcs-link3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.commercialcs-dropdown03 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialcs-dropdown-toggle04 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.commercialcs-dropdown-toggle04:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.commercialcs-link4 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.commercialcs-dropdown04 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialcs-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.commercialcs-dropdown-toggle05:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.commercialcs-architecture {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.commercialcs-option1 {
  color: #000000;
  align-self: flex-start;
  font-family: Arial;
  border-color: #ffffff;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.commercialcs-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.commercialcs-login {
  text-align: center;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.commercialcs-login1 {
  text-align: center;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.commercialcs-register {
  text-align: center;
  text-decoration: none;
}
.commercialcs-icon-group {
  display: flex;
}
.commercialcs-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.commercialcs-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.commercialcs-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.commercialcs-links1 {
  gap: var(--dl-space-space-threeunits);
  width: 901px;
  height: 73px;
  display: flex;
  position: relative;
  align-self: flex-end;
  align-items: center;
  margin-right: 0px;
  flex-direction: row;
  justify-content: center;
}
.commercialcs-link5 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.commercialcs-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialcs-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.commercialcs-text014 {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
.commercialcs-dropdown-arrow1 {
  transition: 0.3s;
}
.commercialcs-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.commercialcs-dropdown05 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialcs-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.commercialcs-dropdown-toggle07:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.commercialcs-commercial {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.commercialcs-dropdown06 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialcs-dropdown-toggle08 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.commercialcs-dropdown-toggle08:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.commercialcs-industrial {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.commercialcs-dropdown07 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialcs-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.commercialcs-dropdown-toggle09:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.commercialcs-development {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.commercialcs-dropdown08 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialcs-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.commercialcs-dropdown-toggle10:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.commercialcs-fit-out {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.commercialcs-dropdown09 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.commercialcs-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.commercialcs-dropdown-toggle11:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.commercialcs-architecture1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.commercialcs-link6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-right: var(--dl-space-space-sixunits);
  text-decoration: none;
}
.commercialcs-option2 {
  color: rgb(255, 255, 255);
  width: 130px;
  font-size: 16px;
  font-style: normal;
  font-family: Arial;
  font-weight: 400;
  text-decoration: none;
  background-color: var(--dl-color-success-300);
}
.commercialcs-text017 {
  font-size: 14px;
}
.commercialcs-option3 {
  color: rgb(255, 255, 255);
  width: 130px;
  font-size: 14px;
  font-family: Arial;
  text-decoration: none;
  background-color: var(--dl-color-success-300);
}
.commercialcs-option4 {
  color: rgb(255, 255, 255);
  width: 130px;
  height: auto;
  font-size: 14px;
  font-family: Arial;
  text-decoration: none;
  background-color: var(--dl-color-success-300);
}
.commercialcs-reference-projects {
  gap: 220px;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1440px;
  align-self: center;
  align-items: center;
  padding-top: 101px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 160px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.commercialcs-fleminton-resident {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.commercialcs-image01 {
  height: 530px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.commercialcs-image02 {
  width: 540px;
  height: 540px;
  object-fit: cover;
}
.commercialcs-content1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.commercialcs-heading1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.commercialcs-header01 {
  color: rgb(53, 43, 42);
  width: auto;
  font-size: 60px;
  text-align: left;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 62px;
}
.commercialcs-header02 {
  color: rgb(53, 43, 42);
  width: auto;
  font-size: 60px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant Infant;
  font-weight: 500;
  line-height: 62px;
}
.commercialcs-caption1 {
  color: rgb(53, 43, 42);
  font-size: 18px;
  max-width: 600px;
  text-align: left;
  font-family: Karla;
  line-height: 27px;
}
.commercialcs-flemington-office {
  gap: 120px;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.commercialcs-content2 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.commercialcs-heading2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: auto;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.commercialcs-header03 {
  color: rgb(53, 43, 42);
  font-size: 60px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant Infant;
  font-weight: 500;
  line-height: 60px;
}
.commercialcs-caption2 {
  color: rgb(53, 43, 42);
  width: auto;
  height: auto;
  font-size: 18px;
  max-width: 600px;
  text-align: left;
  font-family: Karla;
  line-height: 27px;
}
.commercialcs-image03 {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.commercialcs-image04 {
  width: 540px;
  height: 540px;
  align-self: center;
  object-fit: cover;
}
.commercialcs-cetpa {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.commercialcs-image05 {
  height: 530px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.commercialcs-image06 {
  width: 540px;
  height: 540px;
  object-fit: cover;
}
.commercialcs-content3 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.commercialcs-heading3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.commercialcs-image07 {
  width: var(--dl-size-size-large);
  height: auto;
  object-fit: cover;
}
.commercialcs-header04 {
  color: rgb(53, 43, 42);
  font-size: 60px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant Infant;
  font-weight: 500;
  line-height: 60px;
}
.commercialcs-caption3 {
  color: rgb(53, 43, 42);
  font-size: 18px;
  max-width: 600px;
  text-align: left;
  font-family: Karla;
  line-height: 27px;
}
.commercialcs-tran-hung-dao-2 {
  gap: 120px;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.commercialcs-content4 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.commercialcs-heading4 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.commercialcs-header05 {
  color: rgb(53, 43, 42);
  font-size: 60px;
  text-align: left;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 62px;
}
.commercialcs-text059 {
  font-style: normal;
}
.commercialcs-header06 {
  color: rgb(53, 43, 42);
  font-size: 60px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant Infant;
  font-weight: 500;
  line-height: 62px;
}
.commercialcs-caption4 {
  color: rgb(53, 43, 42);
  width: auto;
  height: auto;
  font-size: 18px;
  max-width: 600px;
  text-align: left;
  font-family: Karla;
  line-height: 27px;
}
.commercialcs-image08 {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.commercialcs-image09 {
  width: 540px;
  height: 540px;
  object-fit: cover;
}
.commercialcs-highlight {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.commercialcs-image10 {
  height: 530px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.commercialcs-image11 {
  width: 540px;
  height: 540px;
  object-fit: cover;
}
.commercialcs-content5 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.commercialcs-heading5 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.commercialcs-header07 {
  color: rgb(53, 43, 42);
  font-size: 60px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant Infant;
  font-weight: 500;
  line-height: 60px;
}
.commercialcs-caption5 {
  color: rgb(53, 43, 42);
  font-size: 18px;
  max-width: auto;
  text-align: left;
  font-family: Karla;
  line-height: 27px;
}
.commercialcs-highlight1 {
  gap: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.commercialcs-content6 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.commercialcs-heading6 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: auto;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.commercialcs-header08 {
  color: rgb(53, 43, 42);
  font-size: 60px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant Infant;
  font-weight: 500;
  line-height: 60px;
}
.commercialcs-caption6 {
  color: rgb(53, 43, 42);
  height: auto;
  font-size: 18px;
  max-width: 600px;
  text-align: left;
  font-family: Karla;
  line-height: 27px;
}
.commercialcs-image12 {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.commercialcs-image13 {
  width: 540px;
  height: 540px;
  object-fit: cover;
}
.commercialcs-find {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 422px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-end;
  background-color: #477E5D;
}
.commercialcs-heading7 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.commercialcs-header09 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 600;
  line-height: 22px;
}
.commercialcs-caption7 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  align-self: center;
  text-align: center;
  font-family: Karla;
  line-height: 24px;
}
.commercialcs-text102 {
  text-decoration: underline;
}
.commercialcs-text106 {
  text-decoration: underline;
}
.commercialcs-find1 {
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(250, 216, 122);
}
.commercialcs-find1:hover {
  opacity: 0.5;
}
.commercialcs-footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #352B2A;
}
.commercialcs-content7 {
  gap: 120px;
  width: auto;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.commercialcs-footer1 {
  width: 959px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.commercialcs-branding {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.commercialcs-heading8 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 119px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.commercialcs-image14 {
  height: 27px;
  object-fit: cover;
}
.commercialcs-caption8 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  align-self: center;
  text-align: left;
  line-height: 21px;
}
.commercialcs-links2 {
  gap: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.commercialcs-items {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.commercialcs-reference-projects1 {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.commercialcs-commercial1 {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-left: 16px;
  text-decoration: none;
}
.commercialcs-industrial1 {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-left: 16px;
  text-decoration: none;
}
.commercialcs-development1 {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-left: 16px;
  text-decoration: none;
}
.commercialcs-fit-out1 {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-left: 16px;
  text-decoration: none;
}
.commercialcs-architecture2 {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-left: 16px;
  text-decoration: none;
}
.commercialcs-items1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.commercialcs-link7 {
  text-decoration: none;
}
.commercialcs-link8 {
  text-decoration: none;
}
.commercialcs-items2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.commercialcs-option5 {
  color: rgb(255, 255, 255);
  width: 121px;
  font-family: Arial;
  text-decoration: none;
}
.commercialcs-option6 {
  color: rgb(255, 255, 255);
  width: 122px;
  font-family: Arial;
  text-decoration: none;
}
.commercialcs-option7 {
  color: #ffffff;
  width: 130px;
  font-family: Arial;
  text-decoration: none;
}
.commercialcs-copyright {
  color: rgb(118, 105, 104);
  font-size: 12px;
  align-self: center;
}
@media(max-width: 991px) {
  .commercialcs-caption {
    color: var(--dl-color-gray-white);
    font-size: 90px;
    max-width: auto;
    font-family: Arial;
    font-weight: 700;
    line-height: 90px;
  }
  .commercialcs-logo {
    left: 0px;
    bottom: 3px;
  }
  .commercialcs-links {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .commercialcs-links1 {
    gap: var(--dl-space-space-halfunit);
    right: 0px;
    width: 673px;
    bottom: -3px;
    margin: auto;
    opacity: 0;
    position: absolute;
  }
  .commercialcs-reference-projects {
    gap: 135px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .commercialcs-fleminton-resident {
    gap: var(--dl-space-space-twounits);
    width: auto;
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .commercialcs-image02 {
    width: 540px;
  }
  .commercialcs-heading1 {
    max-width: auto;
  }
  .commercialcs-header01 {
    color: rgb(53, 43, 42);
    width: auto;
    font-size: 60px;
    font-style: normal;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 62px;
  }
  .commercialcs-header02 {
    color: rgb(53, 43, 42);
    width: auto;
    font-size: 60px;
    font-style: normal;
    font-family: Cormorant Infant;
    font-weight: 500;
    line-height: 62px;
  }
  .commercialcs-caption1 {
    color: rgb(53, 43, 42);
  }
  .commercialcs-flemington-office {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
  }
  .commercialcs-header03 {
    color: rgb(53, 43, 42);
    font-size: 60px;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 60px;
  }
  .commercialcs-text036 {
    font-style: normal;
  }
  .commercialcs-text037 {
    font-style: normal;
  }
  .commercialcs-text038 {
    font-style: inherit;
    font-weight: 500;
  }
  .commercialcs-text039 {
    font-style: normal;
  }
  .commercialcs-caption2 {
    height: auto;
  }
  .commercialcs-cetpa {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .commercialcs-image07 {
    width: var(--dl-size-size-large);
    height: auto;
  }
  .commercialcs-header04 {
    color: rgb(53, 43, 42);
    font-size: 60px;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 60px;
  }
  .commercialcs-text045 {
    font-style: normal;
  }
  .commercialcs-text047 {
    font-style: inherit;
    font-weight: 500;
  }
  .commercialcs-tran-hung-dao-2 {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
  }
  .commercialcs-header05 {
    color: rgb(53, 43, 42);
    width: auto;
    font-size: 60px;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 62px;
  }
  .commercialcs-text059 {
    font-style: normal;
  }
  .commercialcs-header06 {
    color: rgb(53, 43, 42);
    width: auto;
    font-size: 60px;
    font-style: inherit;
    font-family: Cormorant Infant;
    font-weight: 500;
    line-height: 62px;
  }
  .commercialcs-caption4 {
    height: auto;
  }
  .commercialcs-highlight {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .commercialcs-highlight1 {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
  }
  .commercialcs-caption6 {
    height: auto;
  }
  .commercialcs-header09 {
    color: rgb(255, 255, 255);
  }
  .commercialcs-footer {
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
  }
  .commercialcs-content7 {
    gap: var(--dl-space-space-threeunits);
    width: 604px;
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
  }
  .commercialcs-footer1 {
    gap: var(--dl-space-space-threeunits);
    width: 401px;
    padding-left: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: flex-start;
  }
  .commercialcs-branding {
    max-width: 80%;
  }
  .commercialcs-heading8 {
    gap: var(--dl-space-space-unit);
  }
  .commercialcs-links2 {
    gap: var(--dl-space-space-threeunits);
    width: 321px;
    padding-left: var(--dl-space-space-sixunits);
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .commercialcs-main {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .commercialcs-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .commercialcs-header {
    font-size: 40px;
    line-height: 40px;
  }
  .commercialcs-caption {
    color: var(--dl-color-gray-white);
    height: auto;
    font-size: 40px;
    max-width: 80%;
    font-style: normal;
    margin-top: var(--dl-space-space-halfunit);
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 40px;
    padding-top: var(--dl-space-space-halfunit);
  }
  .commercialcs-content {
    align-self: center;
  }
  .commercialcs-navbar {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .commercialcs-logo {
    left: 0px;
    bottom: 7px;
    height: 72px;
    position: absolute;
    align-self: flex-start;
  }
  .commercialcs-menu {
    display: flex;
  }
  .commercialcs-links {
    display: none;
  }
  .commercialcs-links1 {
    display: none;
  }
  .commercialcs-reference-projects {
    height: auto;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .commercialcs-image01 {
    width: 100%;
    height: auto;
  }
  .commercialcs-content1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .commercialcs-heading1 {
    gap: var(--dl-space-space-unit);
  }
  .commercialcs-header01 {
    color: rgb(53, 43, 42);
    font-size: 32px;
    line-height: 31px;
  }
  .commercialcs-header02 {
    color: rgb(53, 43, 42);
    font-size: 32px;
    font-style: normal;
    font-family: Cormorant Infant;
    font-weight: 500;
    line-height: 31px;
  }
  .commercialcs-caption1 {
    font-size: 16px;
    line-height: 24px;
  }
  .commercialcs-content2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .commercialcs-heading2 {
    gap: var(--dl-space-space-unit);
  }
  .commercialcs-header03 {
    font-size: 32px;
    line-height: 30px;
  }
  .commercialcs-text036 {
    font-size: 32px;
    line-height: 30px;
  }
  .commercialcs-text037 {
    font-size: 32px;
    line-height: 30px;
  }
  .commercialcs-text038 {
    font-size: 32px;
    line-height: 30px;
  }
  .commercialcs-caption2 {
    width: 405px;
    height: auto;
    font-size: 16px;
    padding-right: var(--dl-space-space-threeunits);
  }
  .commercialcs-image05 {
    width: 100%;
    height: auto;
    align-self: flex-start;
  }
  .commercialcs-content3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .commercialcs-heading3 {
    gap: var(--dl-space-space-unit);
  }
  .commercialcs-image07 {
    width: var(--dl-size-size-medium);
    height: auto;
  }
  .commercialcs-header04 {
    color: rgb(53, 43, 42);
    font-size: 32px;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 31px;
  }
  .commercialcs-text045 {
    font-style: normal;
  }
  .commercialcs-text046 {
    font-weight: 500;
  }
  .commercialcs-text047 {
    font-style: normal;
    font-weight: 500;
  }
  .commercialcs-caption3 {
    font-size: 16px;
    line-height: 24px;
  }
  .commercialcs-content4 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .commercialcs-heading4 {
    gap: var(--dl-space-space-unit);
  }
  .commercialcs-header05 {
    color: rgb(53, 43, 42);
    font-size: 40px;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 42px;
  }
  .commercialcs-text059 {
    font-style: normal;
  }
  .commercialcs-text061 {
    font-weight: 500;
  }
  .commercialcs-header06 {
    color: rgb(53, 43, 42);
    font-size: 40px;
    line-height: 40px;
  }
  .commercialcs-caption4 {
    color: rgb(53, 43, 42);
    height: auto;
    font-size: 18px;
    font-family: Karla;
    line-height: 27px;
  }
  .commercialcs-image10 {
    width: 100%;
    height: auto;
  }
  .commercialcs-content5 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .commercialcs-heading5 {
    gap: var(--dl-space-space-unit);
  }
  .commercialcs-header07 {
    color: rgb(53, 43, 42);
    font-size: 32px;
    font-style: normal;
    font-family: Cormorant Infant;
    font-weight: 500;
    line-height: 31px;
  }
  .commercialcs-caption5 {
    font-size: 16px;
    line-height: 24px;
  }
  .commercialcs-content6 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .commercialcs-heading6 {
    gap: var(--dl-space-space-unit);
  }
  .commercialcs-header08 {
    font-size: 32px;
    line-height: 30px;
  }
  .commercialcs-caption6 {
    height: auto;
    font-size: 16px;
  }
  .commercialcs-find {
    height: auto;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .commercialcs-heading7 {
    gap: var(--dl-space-space-unit);
  }
  .commercialcs-header09 {
    color: rgb(255, 255, 255);
  }
  .commercialcs-caption7 {
    font-size: 16px;
    line-height: 24px;
  }
  .commercialcs-content7 {
    width: 650px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .commercialcs-footer1 {
    width: 592px;
  }
  .commercialcs-branding {
    max-width: 70%;
  }
}
@media(max-width: 479px) {
  .commercialcs-tint {
    height: 1119px;
    position: 0px;
    align-self: center;
  }
  .commercialcs-heading {
    top: 200px;
    height: 442px;
    margin: var(--dl-space-space-halfunit);
    position: static;
    margin-top: 136px;
    line-height: 40px;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
  }
  .commercialcs-caption {
    color: var(--dl-color-gray-white);
    width: 458px;
    height: auto;
    font-size: 40px;
    max-width: 100%;
    align-self: center;
    margin-top: var(--dl-space-space-oneandhalfunits);
    font-family: Arial;
    font-weight: 700;
    line-height: 40px;
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .commercialcs-content {
    height: 139px;
  }
  .commercialcs-navbar {
    padding: var(--dl-space-space-unit);
    position: 0px;
  }
  .commercialcs-logo {
    top: 16px;
    left: 0px;
    height: 72px;
    position: absolute;
    padding-left: 0px;
  }
  .commercialcs-mobile-menu {
    padding: 16px;
  }
  .commercialcs-reference-projects {
    height: auto;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .commercialcs-image01 {
    justify-content: flex-start;
  }
  .commercialcs-image02 {
    width: 340px;
    height: auto;
    align-self: center;
  }
  .commercialcs-heading1 {
    align-self: flex-start;
  }
  .commercialcs-header01 {
    color: rgb(53, 43, 42);
    font-size: 32px;
    line-height: 31px;
  }
  .commercialcs-header02 {
    color: rgb(53, 43, 42);
    font-size: 32px;
    line-height: 31px;
  }
  .commercialcs-caption1 {
    color: rgb(53, 43, 42);
    width: auto;
    font-size: 18px;
    max-width: auto;
    align-self: flex-start;
    font-family: Karla;
    line-height: 27px;
    padding-right: var(--dl-space-space-fourunits);
  }
  .commercialcs-header03 {
    color: rgb(53, 43, 42);
  }
  .commercialcs-text036 {
    font-size: 32px;
    line-height: 30px;
  }
  .commercialcs-text037 {
    font-size: 32px;
    line-height: 30px;
  }
  .commercialcs-text038 {
    font-size: 32px;
    font-weight: 500;
    line-height: 30px;
  }
  .commercialcs-caption2 {
    padding-right: var(--dl-space-space-fourunits);
  }
  .commercialcs-image04 {
    width: 340px;
    height: auto;
  }
  .commercialcs-image05 {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .commercialcs-image06 {
    width: 340px;
    height: auto;
  }
  .commercialcs-image07 {
    width: auto;
    height: var(--dl-size-size-small);
    align-self: flex-start;
  }
  .commercialcs-caption3 {
    padding-right: var(--dl-space-space-fourunits);
  }
  .commercialcs-heading4 {
    height: auto;
    padding-right: 0px;
  }
  .commercialcs-header05 {
    color: rgb(53, 43, 42);
  }
  .commercialcs-text059 {
    font-style: normal;
  }
  .commercialcs-text060 {
    line-height: 64px;
  }
  .commercialcs-text061 {
    font-weight: 500;
  }
  .commercialcs-header06 {
    color: rgb(53, 43, 42);
    font-size: 40px;
    line-height: 40px;
  }
  .commercialcs-caption4 {
    color: rgb(53, 43, 42);
    height: auto;
    font-size: 18px;
    font-family: Karla;
    line-height: 27px;
    padding-right: var(--dl-space-space-fourunits);
  }
  .commercialcs-image09 {
    width: 340PX;
    height: auto;
  }
  .commercialcs-image10 {
    justify-content: flex-start;
  }
  .commercialcs-image11 {
    width: 340px;
    height: auto;
  }
  .commercialcs-caption5 {
    padding-right: var(--dl-space-space-fourunits);
  }
  .commercialcs-heading6 {
    height: 184px;
  }
  .commercialcs-header08 {
    line-height: 31px;
  }
  .commercialcs-caption6 {
    padding-right: var(--dl-space-space-fourunits);
  }
  .commercialcs-image13 {
    width: 340px;
    height: auto;
  }
  .commercialcs-find {
    height: auto;
  }
  .commercialcs-header09 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 22px;
  }
  .commercialcs-caption7 {
    color: rgb(255, 255, 255);
  }
  .commercialcs-text102 {
    text-decoration: underline;
  }
  .commercialcs-text106 {
    text-decoration: underline;
  }
  .commercialcs-footer1 {
    width: 308px;
  }
}
