.construction-vn-copy-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.construction-vn-copy-hero {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.construction-vn-copy-main {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
}
.construction-vn-copy-video {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 678px;
  display: flex;
  overflow: hidden;
  position: absolute;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: center;
}
.construction-vn-copy-video1 {
  width: 100%;
  height: auto;
  opacity: 1;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-radius: var(--dl-radius-radius-radius4);
}
.construction-vn-copy-content {
  width: 100%;
  height: 311px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.construction-vn-copy-navbar {
  width: 100%;
  height: 135px;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.construction-vn-copy-container1 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.construction-vn-copy-logo {
  top: var(--dl-space-space-unit);
  left: 0px;
  bottom: 0px;
  height: 72px;
  margin: auto;
  position: absolute;
  align-self: flex-end;
}
.construction-vn-copy-menu {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.construction-vn-copy-links {
  gap: var(--dl-space-space-threeunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.construction-vn-copy-hamburger {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  aspect-ratio: 1;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: var(--dl-color-success-300);
}
.construction-vn-copy-icon {
  fill: #ffffff;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.construction-vn-copy-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1535732759880-bbd5c7265e3f?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDR8fGNvbnN0cnVjdGlvbnxlbnwwfHx8fDE2Nzk5OTcwMTY&ixlib=rb-4.0.3&w=1500');
}
.construction-vn-copy-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.construction-vn-copy-tangible-logo {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.construction-vn-copy-tangible-logo1 {
  height: var(--dl-size-size-medium);
}
.construction-vn-copy-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.construction-vn-copy-icon02 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.construction-vn-copy-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.construction-vn-copy-language {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.construction-vn-copy-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  margin-top: 0px;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.construction-vn-copy-english {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
.construction-vn-copy-dropdown-arrow {
  transition: 0.3s;
}
.construction-vn-copy-dropdown-list {
  top: 0;
  left: 100%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  margin-left: 0px;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.construction-vn-copy-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.construction-vn-copy-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.construction-vn-copy-dropdown-toggle01:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.construction-vn-copy-chn-tw {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.construction-vn-copy-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.construction-vn-copy-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.construction-vn-copy-dropdown-toggle02:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.construction-vn-copy-chn-cn {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: underline none;
}
.construction-vn-copy-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.construction-vn-copy-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.construction-vn-copy-dropdown-toggle03:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.construction-vn-copy-vn {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.construction-vn-copy-reference-project {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.construction-vn-copy-dropdown-toggle04 {
  fill: #595959;
  color: var(--dl-color-gray-black);
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.construction-vn-copy-title-reference {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Arial;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.construction-vn-copy-dropdown-arrow1 {
  transition: 0.3s;
}
.construction-vn-copy-dropdown-list1 {
  top: 0;
  left: 100%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.construction-vn-copy-construction {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.construction-vn-copy-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.construction-vn-copy-dropdown-toggle05:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.construction-vn-copy-construction1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.construction-vn-copy-design {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.construction-vn-copy-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.construction-vn-copy-dropdown-toggle06:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.construction-vn-copy-design1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: underline none;
}
.construction-vn-copy-development {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.construction-vn-copy-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.construction-vn-copy-dropdown-toggle07:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.construction-vn-copy-development1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.construction-vn-copy-fit-out {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.construction-vn-copy-dropdown-toggle08 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.construction-vn-copy-dropdown-toggle08:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.construction-vn-copy-fit-out1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.construction-vn-copy-home {
  color: rgb(0, 0, 0);
  font-size: 20px;
  align-self: flex-start;
  font-family: Arial;
  border-color: #ffffff;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius2);
  text-decoration: none;
  background-color: transparent;
}
.construction-vn-copy-contact {
  color: rgb(0, 0, 0);
  font-size: 20px;
  align-self: flex-start;
  font-family: Arial;
  border-color: #ffffff;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius2);
  text-decoration: none;
  background-color: transparent;
}
.construction-vn-copy-icon-group {
  display: flex;
}
.construction-vn-copy-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.construction-vn-copy-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.construction-vn-copy-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.construction-vn-copy-links1 {
  gap: var(--dl-space-space-threeunits);
  width: 901px;
  height: 73px;
  display: flex;
  position: relative;
  align-self: flex-end;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-right: 0px;
  flex-direction: row;
  justify-content: center;
}
.construction-vn-copy-home1 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.construction-vn-copy-refereence-projects {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.construction-vn-copy-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.construction-vn-copy-title-reference1 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
.construction-vn-copy-dropdown-arrow2 {
  transition: 0.3s;
}
.construction-vn-copy-dropdown-list2 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.construction-vn-copy-construction2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.construction-vn-copy-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.construction-vn-copy-dropdown-toggle10:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.construction-vn-copy-construction3 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.construction-vn-copy-design2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.construction-vn-copy-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.construction-vn-copy-dropdown-toggle11:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.construction-vn-copy-design3 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: underline none;
}
.construction-vn-copy-development2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.construction-vn-copy-dropdown-toggle12 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.construction-vn-copy-dropdown-toggle12:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.construction-vn-copy-development3 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.construction-vn-copy-fit-out2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.construction-vn-copy-dropdown-toggle13 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.construction-vn-copy-dropdown-toggle13:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.construction-vn-copy-fit-out3 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.construction-vn-copy-contact1 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-right: var(--dl-space-space-sixunits);
  text-decoration: none;
}
.construction-vn-copy-language1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.construction-vn-copy-dropdown-toggle14 {
  fill: #595959;
  color: var(--dl-color-gray-black);
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-white);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.construction-vn-copy-english1 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
.construction-vn-copy-dropdown-arrow3 {
  transition: 0.3s;
}
.construction-vn-copy-dropdown-list3 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.construction-vn-copy-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.construction-vn-copy-dropdown-toggle15 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.construction-vn-copy-dropdown-toggle15:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.construction-vn-copy-chn-tw1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.construction-vn-copy-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.construction-vn-copy-dropdown-toggle16 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.construction-vn-copy-dropdown-toggle16:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.construction-vn-copy-chn-cn1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: underline none;
}
.construction-vn-copy-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.construction-vn-copy-dropdown-toggle17 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.construction-vn-copy-dropdown-toggle17:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.construction-vn-copy-vn1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.construction-vn-copy-reference-projects {
  gap: 220px;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1440px;
  align-self: center;
  align-items: center;
  padding-top: 101px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 160px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.construction-vn-copy-header {
  color: var(--dl-color-gray-black);
  width: auto;
  font-size: 81px;
  align-self: center;
  font-style: normal;
  margin-top: 160px;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 800;
  line-height: 90px;
  padding-top: 160px;
}
.construction-vn-copy-kenda-3 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.construction-vn-copy-content1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.construction-vn-copy-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.construction-vn-copy-header1 {
  color: rgb(53, 43, 42);
  width: 658px;
  font-size: 60px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 60px;
  padding-bottom: var(--dl-space-space-threeunits);
}
.construction-vn-copy-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}
.construction-vn-copy-link {
  display: contents;
}
.construction-vn-copy-kendalogo {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
  margin-left: 0px;
  text-decoration: none;
}
.construction-vn-copy-caption {
  color: rgb(53, 43, 42);
  width: auto;
  font-size: 18px;
  max-width: 600px;
  text-align: left;
  font-family: Karla;
  line-height: 27px;
}
.construction-vn-copy-image {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.construction-vn-copy-image01 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.construction-vn-copy-image02 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.construction-vn-copy-sf {
  gap: 120px;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.construction-vn-copy-content2 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.construction-vn-copy-heading1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: auto;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.construction-vn-copy-link1 {
  display: contents;
}
.construction-vn-copy-header2 {
  color: rgb(53, 43, 42);
  font-size: 60px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 60px;
  text-decoration: none;
}
.construction-vn-copy-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}
.construction-vn-copy--flogo {
  width: auto;
  height: var(--dl-size-size-small);
  align-self: center;
  object-fit: cover;
  margin-left: 0px;
}
.construction-vn-copy-caption1 {
  color: rgb(53, 43, 42);
  width: 176px;
  height: auto;
  font-size: 18px;
  max-width: 600px;
  text-align: left;
  font-family: Karla;
  line-height: 27px;
}
.construction-vn-copy-image03 {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.construction-vn-copy-image04 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.construction-vn-copy-image05 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.construction-vn-copy-image06 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.construction-vn-copy-hci {
  gap: 120px;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.construction-vn-copy-content3 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.construction-vn-copy-heading2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: auto;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.construction-vn-copy-link2 {
  display: contents;
}
.construction-vn-copy-header3 {
  color: var(--dl-color-gray-black);
  font-size: 60px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 60px;
  text-decoration: none;
}
.construction-vn-copy-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}
.construction-vn-copy-kendalogo1 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
  margin-left: 0px;
}
.construction-vn-copy-caption2 {
  color: var(--dl-color-gray-black);
  width: 235px;
  height: auto;
  font-size: 18px;
  max-width: 600px;
  text-align: left;
  font-family: Karla;
  line-height: 27px;
}
.construction-vn-copy-text36 {
  color: var(--dl-color-gray-black);
  font-size: 18px;
  font-family: Karla;
  line-height: 27px;
}
.construction-vn-copy-image07 {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.construction-vn-copy-image08 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.construction-vn-copy-image09 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.construction-vn-copy-image10 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.construction-vn-copy-grand-ocean {
  gap: 120px;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.construction-vn-copy-content4 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.construction-vn-copy-heading3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: auto;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.construction-vn-copy-link3 {
  display: contents;
}
.construction-vn-copy-header4 {
  color: rgb(53, 43, 42);
  width: 178px;
  height: auto;
  font-size: 60px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 60px;
  text-decoration: none;
}
.construction-vn-copy-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}
.construction-vn-copy--adamslogo {
  width: 100%;
  height: auto;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  margin-left: 0px;
}
.construction-vn-copy-caption3 {
  color: rgb(53, 43, 42);
  width: 188px;
  height: auto;
  font-size: 18px;
  max-width: 600px;
  text-align: left;
  font-family: Karla;
  line-height: 27px;
}
.construction-vn-copy-image11 {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.construction-vn-copy-image12 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.construction-vn-copy-image13 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.construction-vn-copy-find {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-end;
  background-color: #477E5D;
}
.construction-vn-copy-heading4 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.construction-vn-copy-header5 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 600;
  line-height: 22px;
}
.construction-vn-copy-caption4 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  align-self: center;
  text-align: center;
  font-family: Karla;
  line-height: 24px;
}
.construction-vn-copy-text50 {
  text-decoration: underline;
}
.construction-vn-copy-text54 {
  text-decoration: underline;
}
.construction-vn-copy-contact-link {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.construction-vn-copy-email {
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 16px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(250, 216, 122);
}
.construction-vn-copy-email:hover {
  opacity: 0.5;
}
.construction-vn-copy-call {
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 16px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(250, 216, 122);
}
.construction-vn-copy-call:hover {
  opacity: 0.5;
}
.construction-vn-copy-footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #352B2A;
}
.construction-vn-copy-content5 {
  gap: 120px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.construction-vn-copy-footer1 {
  width: 959px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.construction-vn-copy-branding {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.construction-vn-copy-heading5 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 119px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.construction-vn-copy-image14 {
  height: 27px;
  object-fit: cover;
}
.construction-vn-copy-caption5 {
  color: rgb(255, 255, 255);
  font-size: 9px;
  align-self: center;
  text-align: left;
  line-height: 21px;
}
.construction-vn-copy-links2 {
  gap: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.construction-vn-copy-items {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.construction-vn-copy-reference-projects1 {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.construction-vn-copy-commercial {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-left: 16px;
}
.construction-vn-copy-industrial {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-left: 16px;
}
.construction-vn-copy-development4 {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-left: 16px;
  text-decoration: none;
}
.construction-vn-copy-fit-out4 {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-left: 16px;
  text-decoration: none;
}
.construction-vn-copy-items1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.construction-vn-copy-link4 {
  text-decoration: none;
}
.construction-vn-copy-link5 {
  text-decoration: none;
}
.construction-vn-copy-items2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.construction-vn-copy-option {
  color: rgb(255, 255, 255);
  width: 121px;
  font-family: Arial;
  text-decoration: none;
}
.construction-vn-copy-option1 {
  color: rgb(255, 255, 255);
  width: 122px;
  font-family: Arial;
  text-decoration: none;
}
.construction-vn-copy-option2 {
  color: rgb(255, 255, 255);
  width: 130px;
  font-family: Arial;
  text-decoration: none;
}
.construction-vn-copy-copyright {
  color: rgb(118, 105, 104);
  font-size: 12px;
  align-self: center;
  text-decoration: none;
}
@media(max-width: 991px) {
  .construction-vn-copy-video {
    height: auto;
    position: static;
  }
  .construction-vn-copy-video1 {
    top: 0px;
    left: 0px;
    height: auto;
    opacity: 1;
    position: absolute;
  }
  .construction-vn-copy-logo {
    left: 0px;
    bottom: 3px;
  }
  .construction-vn-copy-links {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .construction-vn-copy-tangible-logo {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .construction-vn-copy-tangible-logo1 {
    height: var(--dl-size-size-small);
    margin-left: 0px;
  }
  .construction-vn-copy-dropdown-toggle {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .construction-vn-copy-english {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }
  .construction-vn-copy-title-reference {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-family: Arial;
    font-weight: 500;
  }
  .construction-vn-copy-dropdown-list1 {
    top: 0;
    left: 100%;
    width: 270px;
    height: auto;
  }
  .construction-vn-copy-dropdown-toggle05 {
    padding-top: 4px;
    padding-bottom: 2px;
  }
  .construction-vn-copy-construction1 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
  }
  .construction-vn-copy-dropdown-toggle06 {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .construction-vn-copy-design1 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
  }
  .construction-vn-copy-dropdown-toggle07 {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .construction-vn-copy-development1 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
  }
  .construction-vn-copy-dropdown-toggle08 {
    padding-top: 2px;
    padding-bottom: 4px;
  }
  .construction-vn-copy-fit-out1 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
  }
  .construction-vn-copy-home {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: Arial;
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    background-color: transparent;
  }
  .construction-vn-copy-contact {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: Arial;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
    text-decoration: none;
    background-color: transparent;
  }
  .construction-vn-copy-links1 {
    gap: var(--dl-space-space-halfunit);
    right: 0px;
    width: 673px;
    bottom: -3px;
    margin: auto;
    opacity: 0;
    position: absolute;
  }
  .construction-vn-copy-reference-projects {
    gap: 135px;
    width: 100%;
    height: auto;
    max-width: auto;
    margin-top: var(--dl-space-space-sixunits);
    align-items: flex-start;
    padding-top: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .construction-vn-copy-header {
    color: var(--dl-color-gray-black);
    width: auto;
    font-size: 40px;
    align-self: center;
    font-style: normal;
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    font-family: Cormorant Infant;
    font-weight: 800;
    line-height: 45px;
    padding-top: 0px;
  }
  .construction-vn-copy-kenda-3 {
    gap: var(--dl-space-space-twounits);
    width: auto;
    align-items: flex-start;
    padding-top: 0px;
    flex-direction: column-reverse;
  }
  .construction-vn-copy-heading {
    max-width: auto;
  }
  .construction-vn-copy-header1 {
    width: 651px;
    font-size: 32px;
    line-height: 32px;
  }
  .construction-vn-copy-kendalogo {
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
  .construction-vn-copy-sf {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
  }
  .construction-vn-copy-header2 {
    font-size: 32px;
    line-height: 32px;
  }
  .construction-vn-copy--flogo {
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
  .construction-vn-copy-caption1 {
    width: 376px;
    height: auto;
  }
  .construction-vn-copy-hci {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
  }
  .construction-vn-copy-header3 {
    font-size: 32px;
    line-height: 32px;
  }
  .construction-vn-copy-kendalogo1 {
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
  .construction-vn-copy-caption2 {
    width: 260px;
    height: auto;
  }
  .construction-vn-copy-grand-ocean {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
  }
  .construction-vn-copy-header4 {
    color: var(--dl-color-gray-black);
    width: auto;
    font-size: 32px;
    line-height: 32px;
  }
  .construction-vn-copy--adamslogo {
    width: var(--dl-size-size-xxlarge);
    height: auto;
    margin-left: 0px;
  }
  .construction-vn-copy-caption3 {
    color: rgb(53, 43, 42);
    width: 399px;
    height: auto;
    font-size: 18px;
    font-family: Karla;
    line-height: 27px;
  }
  .construction-vn-copy-header5 {
    color: rgb(255, 255, 255);
  }
  .construction-vn-copy-email {
    border-radius: 90px;
  }
  .construction-vn-copy-call {
    border-radius: 90px;
  }
  .construction-vn-copy-footer {
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
  }
  .construction-vn-copy-content5 {
    gap: var(--dl-space-space-threeunits);
    width: 604px;
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
  }
  .construction-vn-copy-footer1 {
    gap: var(--dl-space-space-threeunits);
    width: 401px;
    padding-left: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: flex-start;
  }
  .construction-vn-copy-branding {
    max-width: 80%;
  }
  .construction-vn-copy-heading5 {
    gap: var(--dl-space-space-unit);
  }
  .construction-vn-copy-caption5 {
    font-size: 9px;
  }
  .construction-vn-copy-links2 {
    gap: var(--dl-space-space-threeunits);
    width: 321px;
    padding-left: var(--dl-space-space-sixunits);
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .construction-vn-copy-main {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .construction-vn-copy-video {
    height: auto;
  }
  .construction-vn-copy-video1 {
    top: 0px;
    right: -2px;
    height: auto;
  }
  .construction-vn-copy-content {
    align-self: center;
    justify-content: flex-start;
  }
  .construction-vn-copy-navbar {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .construction-vn-copy-logo {
    left: 0px;
    bottom: 7px;
    height: 72px;
    position: absolute;
    align-self: flex-start;
  }
  .construction-vn-copy-menu {
    display: flex;
  }
  .construction-vn-copy-links {
    display: none;
  }
  .construction-vn-copy-tangible-logo1 {
    height: var(--dl-size-size-small);
  }
  .construction-vn-copy-dropdown-toggle {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .construction-vn-copy-english {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }
  .construction-vn-copy-dropdown-list {
    top: 0;
    left: 100%;
  }
  .construction-vn-copy-title-reference {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-family: Arial;
    font-weight: 500;
  }
  .construction-vn-copy-dropdown-list1 {
    top: 0;
    left: 100%;
  }
  .construction-vn-copy-dropdown-toggle05 {
    padding-bottom: 2px;
  }
  .construction-vn-copy-construction1 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
  }
  .construction-vn-copy-design1 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
  .construction-vn-copy-development1 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
  }
  .construction-vn-copy-fit-out1 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
  }
  .construction-vn-copy-home {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: Arial;
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    background-color: transparent;
  }
  .construction-vn-copy-contact {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: Arial;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
    text-decoration: none;
    background-color: transparent;
  }
  .construction-vn-copy-links1 {
    display: none;
  }
  .construction-vn-copy-reference-projects {
    height: auto;
    margin-top: var(--dl-space-space-sixunits);
    padding-top: 0px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .construction-vn-copy-header {
    font-size: 40px;
    align-self: center;
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    line-height: 45px;
    padding-top: 0px;
  }
  .construction-vn-copy-content1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .construction-vn-copy-heading {
    gap: var(--dl-space-space-unit);
  }
  .construction-vn-copy-header1 {
    font-size: 32px;
    line-height: 31px;
  }
  .construction-vn-copy-kendalogo {
    width: 100%;
    align-self: center;
  }
  .construction-vn-copy-caption {
    font-size: 16px;
    line-height: 24px;
  }
  .construction-vn-copy-content2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .construction-vn-copy-heading1 {
    gap: var(--dl-space-space-unit);
  }
  .construction-vn-copy-header2 {
    font-size: 32px;
    line-height: 30px;
  }
  .construction-vn-copy--flogo {
    width: 100%;
    align-self: center;
  }
  .construction-vn-copy-caption1 {
    width: 405px;
    height: auto;
    font-size: 16px;
    padding-right: var(--dl-space-space-threeunits);
  }
  .construction-vn-copy-content3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .construction-vn-copy-heading2 {
    gap: var(--dl-space-space-unit);
  }
  .construction-vn-copy-header3 {
    font-size: 32px;
    line-height: 30px;
  }
  .construction-vn-copy-kendalogo1 {
    width: 100%;
    align-self: center;
  }
  .construction-vn-copy-caption2 {
    width: 405px;
    height: auto;
    font-size: 16px;
    padding-right: var(--dl-space-space-threeunits);
  }
  .construction-vn-copy-content4 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .construction-vn-copy-heading3 {
    gap: var(--dl-space-space-unit);
  }
  .construction-vn-copy-header4 {
    width: auto;
    font-size: 32px;
    line-height: 30px;
  }
  .construction-vn-copy-text39 {
    font-size: 32px;
    line-height: 30px;
  }
  .construction-vn-copy--adamslogo {
    width: var(--dl-size-size-xxlarge);
    height: auto;
    align-self: center;
  }
  .construction-vn-copy-caption3 {
    width: 405px;
    height: auto;
    font-size: 16px;
    padding-right: 0px;
  }
  .construction-vn-copy-find {
    height: auto;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .construction-vn-copy-heading4 {
    gap: var(--dl-space-space-unit);
  }
  .construction-vn-copy-header5 {
    color: rgb(255, 255, 255);
  }
  .construction-vn-copy-caption4 {
    font-size: 16px;
    line-height: 24px;
  }
  .construction-vn-copy-contact-link {
    gap: var(--dl-space-space-unit);
  }
  .construction-vn-copy-content5 {
    width: 650px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .construction-vn-copy-footer1 {
    width: 592px;
  }
  .construction-vn-copy-branding {
    max-width: 70%;
  }
  .construction-vn-copy-caption5 {
    font-size: 9px;
  }
}
@media(max-width: 479px) {
  .construction-vn-copy-video {
    height: auto;
  }
  .construction-vn-copy-video1 {
    bottom: var(--dl-space-space-halfunit);
    height: auto;
  }
  .construction-vn-copy-content {
    height: 139px;
  }
  .construction-vn-copy-navbar {
    height: auto;
    padding: var(--dl-space-space-unit);
    position: 0px;
  }
  .construction-vn-copy-logo {
    top: var(--dl-space-space-halfunit);
    left: 0px;
    height: 72px;
    position: absolute;
    padding-left: 0px;
  }
  .construction-vn-copy-mobile-menu {
    padding: 16px;
  }
  .construction-vn-copy-nav {
    height: 650px;
  }
  .construction-vn-copy-tangible-logo1 {
    height: var(--dl-size-size-medium);
  }
  .construction-vn-copy-dropdown-toggle {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .construction-vn-copy-english {
    color: var(--dl-color-gray-black);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
  }
  .construction-vn-copy-title-reference {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-family: Arial;
    font-weight: 500;
  }
  .construction-vn-copy-dropdown-list1 {
    top: 0;
    left: 100%;
    width: 99px;
  }
  .construction-vn-copy-construction1 {
    gap: var(--dl-space-space-halfunit);
    color: var(--dl-color-gray-black);
    flex-wrap: wrap;
  }
  .construction-vn-copy-design1 {
    gap: var(--dl-space-space-halfunit);
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
  .construction-vn-copy-development1 {
    gap: var(--dl-space-space-halfunit);
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
  }
  .construction-vn-copy-fit-out1 {
    gap: var(--dl-space-space-halfunit);
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
  }
  .construction-vn-copy-home {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: Arial;
    text-decoration: none;
    background-color: transparent;
  }
  .construction-vn-copy-contact {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: Arial;
    text-decoration: none;
    background-color: transparent;
  }
  .construction-vn-copy-reference-projects {
    width: 100%;
    height: auto;
    margin-top: var(--dl-space-space-sixunits);
    align-items: center;
    padding-top: 0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .construction-vn-copy-header {
    color: var(--dl-color-gray-black);
    font-size: 27px;
    align-self: center;
    font-style: normal;
    margin-top: 0px;
    text-align: center;
    font-family: Cormorant Infant;
    font-weight: 800;
    line-height: 31px;
    padding-top: 0px;
  }
  .construction-vn-copy-kenda-3 {
    width: 100%;
    align-self: center;
    padding-top: 0px;
  }
  .construction-vn-copy-heading {
    align-self: flex-start;
  }
  .construction-vn-copy-header1 {
    color: rgb(53, 43, 42);
    width: 100%;
    font-size: 27px;
    font-style: normal;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 31px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .construction-vn-copy-kendalogo {
    width: 100%;
    height: auto;
    align-self: flex-start;
    margin-left: 0px;
  }
  .construction-vn-copy-caption {
    color: rgb(53, 43, 42);
    width: auto;
    font-size: 18px;
    max-width: auto;
    align-self: flex-start;
    font-family: Karla;
    line-height: 27px;
    padding-right: var(--dl-space-space-fourunits);
  }
  .construction-vn-copy-image01 {
    width: 340px;
    height: auto;
  }
  .construction-vn-copy-image02 {
    width: 340px;
    height: auto;
  }
  .construction-vn-copy-sf {
    width: 100%;
  }
  .construction-vn-copy-header2 {
    font-size: 27px;
  }
  .construction-vn-copy--flogo {
    width: 100%;
    height: auto;
    align-self: flex-start;
    margin-left: 0px;
  }
  .construction-vn-copy-caption1 {
    padding-right: var(--dl-space-space-fourunits);
  }
  .construction-vn-copy-image03 {
    align-items: center;
  }
  .construction-vn-copy-image04 {
    width: 340px;
    height: auto;
  }
  .construction-vn-copy-image05 {
    width: 340px;
    height: auto;
  }
  .construction-vn-copy-image06 {
    width: 340px;
    height: auto;
  }
  .construction-vn-copy-hci {
    width: 100%;
  }
  .construction-vn-copy-header3 {
    font-size: 27px;
  }
  .construction-vn-copy-kendalogo1 {
    width: 100%;
    height: auto;
    align-self: flex-start;
    margin-left: 0px;
  }
  .construction-vn-copy-caption2 {
    padding-right: var(--dl-space-space-fourunits);
  }
  .construction-vn-copy-image07 {
    align-items: center;
  }
  .construction-vn-copy-image08 {
    width: 340px;
    height: auto;
  }
  .construction-vn-copy-image09 {
    width: 340px;
    height: auto;
  }
  .construction-vn-copy-image10 {
    width: 340px;
    height: auto;
  }
  .construction-vn-copy-grand-ocean {
    width: 100%;
  }
  .construction-vn-copy-header4 {
    font-size: 27px;
  }
  .construction-vn-copy--adamslogo {
    width: var(--dl-size-size-xxlarge);
    height: auto;
    align-self: flex-start;
    margin-left: 0px;
  }
  .construction-vn-copy-caption3 {
    padding-right: var(--dl-space-space-fourunits);
  }
  .construction-vn-copy-image11 {
    align-items: center;
  }
  .construction-vn-copy-image12 {
    width: 340px;
    height: auto;
  }
  .construction-vn-copy-image13 {
    width: 340px;
    height: auto;
  }
  .construction-vn-copy-find {
    height: auto;
  }
  .construction-vn-copy-header5 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 22px;
  }
  .construction-vn-copy-caption4 {
    color: rgb(255, 255, 255);
  }
  .construction-vn-copy-text50 {
    text-decoration: underline;
  }
  .construction-vn-copy-text54 {
    text-decoration: underline;
  }
  .construction-vn-copy-contact-link {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .construction-vn-copy-content5 {
    width: 450px;
  }
  .construction-vn-copy-footer1 {
    width: 300px;
  }
  .construction-vn-copy-caption5 {
    font-size: 9px;
  }
  .construction-vn-copy-links2 {
    width: auto;
    padding-left: var(--dl-space-space-twounits);
  }
  .construction-vn-copy-fit-out4 {
    color: var(--dl-color-gray-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
  }
  .construction-vn-copy-link5 {
    text-decoration: none;
  }
}
