.interial-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.interial-hero {
  width: 100%;
  height: 635px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.interial-main {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
}
.interial-video {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: center;
}
.interial-video1 {
  width: 100%;
  height: auto;
  opacity: 1;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-radius: var(--dl-radius-radius-radius4);
}
.interial-tint {
  left: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: 100%;
  display: flex;
  opacity: 0.4;
  position: absolute;
  align-self: center;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.interial-content {
  width: 100%;
  height: 613px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.interial-navbar {
  width: 100%;
  height: 135px;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-self: center;
  align-items: center;
  padding-top: 11px;
  justify-content: space-between;
}
.interial-container1 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.interial-logo {
  top: var(--dl-space-space-unit);
  left: 0px;
  bottom: 0px;
  height: 72px;
  margin: auto;
  position: absolute;
  align-self: flex-end;
}
.interial-menu {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.interial-links {
  gap: var(--dl-space-space-threeunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.interial-hamburger {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  aspect-ratio: 1;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: var(--dl-color-success-300);
}
.interial-icon {
  fill: #ffffff;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.interial-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1535732759880-bbd5c7265e3f?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDR8fGNvbnN0cnVjdGlvbnxlbnwwfHx8fDE2Nzk5OTcwMTY&ixlib=rb-4.0.3&w=1500');
}
.interial-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.interial-tangible-logo {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.interial-tangible-logo1 {
  height: var(--dl-size-size-medium);
}
.interial-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.interial-icon2 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.interial-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.interial-language {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.interial-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  margin-top: 0px;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.interial-english {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
.interial-dropdown-arrow {
  transition: 0.3s;
}
.interial-dropdown-list {
  top: 0;
  left: 100%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  margin-left: 0px;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.interial-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.interial-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.interial-dropdown-toggle01:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.interial-chn-tw {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.interial-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.interial-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.interial-dropdown-toggle02:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.interial-chn-cn {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: underline none;
}
.interial-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.interial-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.interial-dropdown-toggle03:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.interial-vn {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.interial-reference-project {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.interial-dropdown-toggle04 {
  fill: #595959;
  color: var(--dl-color-gray-black);
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.interial-title-reference {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Arial;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.interial-dropdown-arrow1 {
  transition: 0.3s;
}
.interial-dropdown-list1 {
  top: 0;
  left: 100%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.interial-construction {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.interial-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.interial-dropdown-toggle05:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.interial-construction1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.interial-design {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.interial-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.interial-dropdown-toggle06:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.interial-industrial {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: underline none;
}
.interial-development {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.interial-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.interial-dropdown-toggle07:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.interial-development1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.interial-fit-out {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.interial-dropdown-toggle08 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.interial-dropdown-toggle08:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.interial-fit-out1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.interial-home {
  color: #000000;
  font-size: 20px;
  align-self: flex-start;
  font-family: Arial;
  border-color: #ffffff;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius2);
  text-decoration: none;
  background-color: transparent;
}
.interial-contact {
  color: rgb(0, 0, 0);
  font-size: 20px;
  align-self: flex-start;
  font-family: Arial;
  border-color: #ffffff;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius2);
  text-decoration: none;
  background-color: transparent;
}
.interial-links1 {
  gap: var(--dl-space-space-threeunits);
  width: 901px;
  height: 73px;
  display: flex;
  position: relative;
  align-self: flex-end;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-right: 0px;
  flex-direction: row;
  justify-content: center;
}
.interial-home1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.interial-refereence-projects {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.interial-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.interial-title-reference1 {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
.interial-dropdown-arrow2 {
  transition: 0.3s;
}
.interial-dropdown-list2 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.interial-construction2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.interial-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.interial-dropdown-toggle10:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.interial-construction3 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.interial-design1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.interial-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.interial-dropdown-toggle11:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.interial-design2 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: underline none;
}
.interial-development2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.interial-dropdown-toggle12 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.interial-dropdown-toggle12:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.interial-development3 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.interial-fit-out2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.interial-dropdown-toggle13 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.interial-dropdown-toggle13:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.interial-fit-out3 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.interial-contact1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-right: var(--dl-space-space-sixunits);
  text-decoration: none;
}
.interial-language1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.interial-dropdown-toggle14 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-white);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.interial-english1 {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
.interial-dropdown-arrow3 {
  transition: 0.3s;
}
.interial-dropdown-list3 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.interial-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.interial-dropdown-toggle15 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.interial-dropdown-toggle15:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.interial-chn-tw1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.interial-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.interial-dropdown-toggle16 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.interial-dropdown-toggle16:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.interial-chn-cn1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: underline none;
}
.interial-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.interial-dropdown-toggle17 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.interial-dropdown-toggle17:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.interial-vn1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.interial-caption {
  top: 363px;
  left: 0px;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  opacity: 1;
  position: absolute;
  font-size: 90px;
  max-width: auto;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 800;
  line-height: 90px;
  padding-top: 0px;
}
.interial-reference-projects {
  gap: 220px;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1440px;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.interial-fleminton {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.interial-content1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.interial-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.interial-header {
  color: rgb(53, 43, 42);
  width: auto;
  font-size: 60px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 60px;
  padding-top: var(--dl-space-space-sixunits);
  padding-bottom: 0px;
}
.interial-container2 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}
.interial-image {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.interial-image1 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.interial-nhg {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.interial-content2 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.interial-heading1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.interial-header1 {
  color: rgb(53, 43, 42);
  width: auto;
  font-size: 60px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.interial-container3 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}
.interial-image2 {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.interial-image3 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.interial-cetpa {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.interial-content3 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.interial-heading2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.interial-header2 {
  color: rgb(53, 43, 42);
  width: auto;
  font-size: 60px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.interial-container4 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}
.interial-image4 {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.interial-image5 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.interial-find {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-end;
  background-color: #477E5D;
}
.interial-heading3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.interial-header3 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 600;
  line-height: 22px;
}
.interial-caption1 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  align-self: center;
  text-align: center;
  font-family: Karla;
  line-height: 24px;
}
.interial-text24 {
  text-decoration: underline;
}
.interial-text28 {
  text-decoration: underline;
}
.interial-contact-link {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.interial-email {
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 16px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(250, 216, 122);
}
.interial-email:hover {
  opacity: 0.5;
}
.interial-call {
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 16px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(250, 216, 122);
}
.interial-call:hover {
  opacity: 0.5;
}
.interial-footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #352B2A;
}
.interial-content4 {
  gap: 120px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.interial-footer1 {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.interial-branding {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.interial-link {
  display: contents;
}
.interial-heading4 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 119px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.interial-image6 {
  height: 27px;
  object-fit: cover;
}
.interial-caption2 {
  color: rgb(255, 255, 255);
  font-size: 9px;
  align-self: center;
  text-align: left;
  line-height: 21px;
}
.interial-links2 {
  gap: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.interial-items {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.interial-reference-projects1 {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.interial-commercial {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-left: 16px;
  text-decoration: none;
}
.interial-industrial1 {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-left: 16px;
  text-decoration: none;
}
.interial-development4 {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-left: 16px;
  text-decoration: none;
}
.interial-fit-out4 {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-left: 16px;
  text-decoration: none;
}
.interial-items1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.interial-link1 {
  text-decoration: none;
}
.interial-link2 {
  text-decoration: none;
}
.interial-items2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.interial-option {
  color: rgb(255, 255, 255);
  width: 121px;
  font-family: Arial;
  text-decoration: none;
}
.interial-option1 {
  color: rgb(255, 255, 255);
  width: 122px;
  font-family: Arial;
  text-decoration: none;
}
.interial-option2 {
  color: #ffffff;
  width: 130px;
  font-family: Arial;
  text-decoration: none;
}
.interial-copyright {
  color: rgb(118, 105, 104);
  font-size: 12px;
  align-self: center;
  text-decoration: none;
}
@media(max-width: 991px) {
  .interial-hero {
    height: 524px;
  }
  .interial-main {
    top: 0px;
    left: 0px;
    height: 522px;
    position: absolute;
  }
  .interial-video {
    height: auto;
    position: static;
  }
  .interial-video1 {
    top: 0px;
    left: 0px;
    height: auto;
    opacity: 1;
    position: absolute;
  }
  .interial-tint {
    top: -20px;
    left: 0px;
    width: 100%;
    height: 320px;
    position: absolute;
    justify-content: center;
  }
  .interial-navbar {
    width: 95%;
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
  }
  .interial-logo {
    top: var(--dl-space-space-threeunits);
    left: 0px;
    bottom: 3px;
  }
  .interial-menu {
    top: var(--dl-space-space-unit);
    right: 0px;
    bottom: 0px;
    position: absolute;
    align-self: flex-start;
    align-items: flex-start;
  }
  .interial-links {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .interial-mobile-menu {
    width: 100%;
    height: 100vh;
  }
  .interial-tangible-logo {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .interial-tangible-logo1 {
    height: var(--dl-size-size-small);
    margin-left: 0px;
  }
  .interial-dropdown-toggle {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .interial-english {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }
  .interial-title-reference {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-family: Arial;
    font-weight: 500;
  }
  .interial-dropdown-list1 {
    top: 0;
    left: 100%;
  }
  .interial-dropdown-toggle05 {
    padding-top: 4px;
    padding-bottom: 2px;
  }
  .interial-construction1 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
  }
  .interial-dropdown-toggle06 {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .interial-industrial {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
  .interial-text03 {
    font-size: 16px;
  }
  .interial-dropdown-toggle07 {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .interial-development1 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
  }
  .interial-dropdown-toggle08 {
    padding-top: 2px;
    padding-bottom: 4px;
  }
  .interial-fit-out1 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
  }
  .interial-home {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: Arial;
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    background-color: transparent;
  }
  .interial-contact {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: Arial;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
    text-decoration: none;
    background-color: transparent;
  }
  .interial-links1 {
    gap: var(--dl-space-space-halfunit);
    right: 0px;
    width: 673px;
    bottom: -3px;
    margin: auto;
    opacity: 0;
    position: absolute;
  }
  .interial-caption {
    color: var(--dl-color-gray-white);
    width: auto;
    position: static;
    font-size: 60px;
    align-self: center;
    font-style: normal;
    margin-top: var(--dl-space-space-fourunits);
    font-family: Cormorant Infant;
    font-weight: 800;
    line-height: 40px;
    margin-left: var(--dl-space-space-fourunits);
    padding-top: var(--dl-space-space-fourunits);
    margin-right: var(--dl-space-space-fourunits);
    margin-bottom: 0px;
  }
  .interial-reference-projects {
    gap: 135px;
    width: 100%;
    height: auto;
    max-width: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .interial-fleminton {
    gap: var(--dl-space-space-twounits);
    width: auto;
    align-items: flex-start;
    padding-top: 0px;
    flex-direction: column-reverse;
  }
  .interial-heading {
    max-width: auto;
  }
  .interial-header {
    width: auto;
    font-size: 32px;
    line-height: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .interial-nhg {
    gap: var(--dl-space-space-twounits);
    width: auto;
    align-items: flex-start;
    padding-top: 0px;
    flex-direction: column-reverse;
  }
  .interial-heading1 {
    max-width: auto;
  }
  .interial-header1 {
    width: auto;
    font-size: 32px;
    line-height: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .interial-cetpa {
    gap: var(--dl-space-space-twounits);
    width: auto;
    align-items: flex-start;
    padding-top: 0px;
    flex-direction: column-reverse;
  }
  .interial-heading2 {
    max-width: auto;
  }
  .interial-header2 {
    width: auto;
    font-size: 32px;
    line-height: 32px;
  }
  .interial-find {
    border-radius: var(--dl-radius-radius-radius4);
  }
  .interial-header3 {
    color: rgb(255, 255, 255);
  }
  .interial-email {
    border-radius: 90px;
  }
  .interial-call {
    border-radius: 90px;
  }
  .interial-footer {
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
  }
  .interial-content4 {
    gap: var(--dl-space-space-threeunits);
    width: 604px;
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
  }
  .interial-footer1 {
    gap: var(--dl-space-space-threeunits);
    width: 401px;
    padding-left: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: flex-start;
  }
  .interial-branding {
    max-width: 80%;
  }
  .interial-heading4 {
    gap: var(--dl-space-space-unit);
  }
  .interial-caption2 {
    font-size: 9px;
  }
  .interial-links2 {
    gap: var(--dl-space-space-threeunits);
    width: 321px;
    padding-left: var(--dl-space-space-sixunits);
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .interial-hero {
    height: 413px;
  }
  .interial-main {
    height: 410px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .interial-video {
    height: auto;
  }
  .interial-video1 {
    top: 0px;
    right: -2px;
    height: auto;
  }
  .interial-tint {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 320px;
    margin: 0px;
    position: absolute;
    justify-content: center;
  }
  .interial-content {
    top: 9px;
    left: 0px;
    height: 133px;
    position: absolute;
    align-self: center;
    align-items: center;
    justify-content: flex-start;
  }
  .interial-navbar {
    width: 95%;
    align-items: flex-start;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .interial-logo {
    top: var(--dl-space-space-threeunits);
    height: 72px;
    align-self: flex-start;
  }
  .interial-menu {
    top: var(--dl-space-space-oneandhalfunits);
    display: flex;
  }
  .interial-links {
    display: none;
  }
  .interial-mobile-menu {
    width: 100%;
    height: 100vh;
  }
  .interial-tangible-logo1 {
    height: var(--dl-size-size-small);
  }
  .interial-dropdown-toggle {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .interial-english {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }
  .interial-dropdown-list {
    top: 0;
    left: 100%;
  }
  .interial-title-reference {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-family: Arial;
    font-weight: 500;
  }
  .interial-dropdown-list1 {
    top: 0;
    left: 100%;
  }
  .interial-dropdown-toggle05 {
    padding-bottom: 2px;
  }
  .interial-construction1 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
  }
  .interial-industrial {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
  .interial-development1 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
  }
  .interial-fit-out1 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
  }
  .interial-home {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: Arial;
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    background-color: transparent;
  }
  .interial-contact {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: Arial;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
    text-decoration: none;
    background-color: transparent;
  }
  .interial-links1 {
    display: none;
  }
  .interial-caption {
    top: auto;
    color: var(--dl-color-gray-white);
    width: auto;
    height: auto;
    position: static;
    font-size: 60px;
    max-width: auto;
    align-self: center;
    font-style: normal;
    font-family: Cormorant Infant;
    font-weight: 800;
    line-height: 90px;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: 0px;
  }
  .interial-reference-projects {
    height: auto;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .interial-content1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .interial-heading {
    gap: var(--dl-space-space-unit);
  }
  .interial-header {
    color: rgb(53, 43, 42);
    font-size: 32px;
    font-style: normal;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 32px;
    padding-top: 0px;
  }
  .interial-content2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .interial-heading1 {
    gap: var(--dl-space-space-unit);
  }
  .interial-header1 {
    color: rgb(53, 43, 42);
    font-size: 32px;
    font-style: normal;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 32px;
    padding-top: 0px;
  }
  .interial-content3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .interial-heading2 {
    gap: var(--dl-space-space-unit);
  }
  .interial-header2 {
    color: rgb(53, 43, 42);
  }
  .interial-find {
    height: auto;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .interial-heading3 {
    gap: var(--dl-space-space-unit);
  }
  .interial-header3 {
    color: rgb(255, 255, 255);
  }
  .interial-caption1 {
    font-size: 16px;
    line-height: 24px;
  }
  .interial-contact-link {
    gap: var(--dl-space-space-unit);
  }
  .interial-content4 {
    width: 650px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .interial-footer1 {
    width: 592px;
  }
  .interial-branding {
    max-width: 70%;
  }
  .interial-caption2 {
    font-size: 9px;
  }
}
@media(max-width: 479px) {
  .interial-hero {
    height: 513px;
  }
  .interial-video {
    height: auto;
  }
  .interial-video1 {
    left: -400px;
    right: 0px;
    width: auto;
    bottom: var(--dl-space-space-halfunit);
    height: auto;
    margin: auto;
    opacity: 1;
  }
  .interial-tint {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    bottom: 0px;
    height: 511px;
    margin: 0px;
    position: absolute;
    align-self: center;
    background-color: var(--dl-color-gray-black);
  }
  .interial-content {
    height: 139px;
  }
  .interial-navbar {
    width: 95%;
    height: auto;
    padding: var(--dl-space-space-halfunit);
    position: 0px;
  }
  .interial-logo {
    top: var(--dl-space-space-threeunits);
    left: 0px;
    bottom: 0px;
    height: 72px;
    position: absolute;
    padding-left: 0px;
  }
  .interial-menu {
    top: var(--dl-space-space-unit);
  }
  .interial-hamburger {
    margin-top: 0px;
  }
  .interial-mobile-menu {
    width: 100%;
    padding: 16px;
  }
  .interial-nav {
    height: 650px;
  }
  .interial-tangible-logo1 {
    height: var(--dl-size-size-medium);
  }
  .interial-dropdown-toggle {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .interial-english {
    color: var(--dl-color-gray-black);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
  }
  .interial-title-reference {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-family: Arial;
    font-weight: 500;
  }
  .interial-dropdown-list1 {
    top: 0;
    left: 100%;
    width: 99px;
  }
  .interial-construction1 {
    color: var(--dl-color-gray-black);
    flex-wrap: wrap;
  }
  .interial-industrial {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
  .interial-development1 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
  }
  .interial-fit-out1 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
  }
  .interial-home {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: Arial;
    text-decoration: none;
    background-color: transparent;
  }
  .interial-contact {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: Arial;
    text-decoration: none;
    background-color: transparent;
  }
  .interial-caption {
    top: 210px;
    left: 0px;
    color: var(--dl-color-gray-white);
    right: 0px;
    width: auto;
    bottom: -185px;
    height: auto;
    margin: auto;
    position: absolute;
    font-size: 60px;
    max-width: 100%;
    align-self: center;
    font-style: normal;
    font-family: Cormorant Infant;
    font-weight: 800;
    line-height: 90px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .interial-reference-projects {
    width: 100%;
    height: auto;
    align-items: center;
    margin-left: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-halfunit);
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .interial-fleminton {
    padding-top: 0px;
  }
  .interial-heading {
    align-self: flex-start;
  }
  .interial-header {
    color: rgb(53, 43, 42);
    font-size: 32px;
    font-style: normal;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 31px;
    padding-top: 0px;
  }
  .interial-image1 {
    width: 340px;
    height: auto;
  }
  .interial-nhg {
    padding-top: 0px;
  }
  .interial-heading1 {
    align-self: flex-start;
  }
  .interial-header1 {
    color: rgb(53, 43, 42);
    font-size: 32px;
    font-style: normal;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 31px;
    padding-top: 0px;
  }
  .interial-image3 {
    width: 340px;
    height: auto;
  }
  .interial-cetpa {
    padding-top: 0px;
  }
  .interial-heading2 {
    align-self: flex-start;
  }
  .interial-header2 {
    color: rgb(53, 43, 42);
    font-size: 32px;
    font-style: normal;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 31px;
  }
  .interial-image5 {
    width: 340px;
    height: auto;
  }
  .interial-find {
    height: auto;
  }
  .interial-header3 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 22px;
  }
  .interial-caption1 {
    color: rgb(255, 255, 255);
  }
  .interial-text24 {
    text-decoration: underline;
  }
  .interial-text28 {
    text-decoration: underline;
  }
  .interial-contact-link {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .interial-content4 {
    width: 450px;
  }
  .interial-footer1 {
    width: 300px;
  }
  .interial-caption2 {
    font-size: 9px;
  }
  .interial-links2 {
    width: auto;
    align-self: flex-start;
    padding-left: var(--dl-space-space-twounits);
  }
}
