<div>
  <link href="./business-license.css" rel="stylesheet" />
  <div class="business-license-article">
    <img
      alt="image"
      src="https://user-images.githubusercontent.com/127581878/228730425-94233d64-ff4e-455d-b0ae-7b08639ff3df.jpg"
      class="business-license-image"
    />
    <div class="business-license-content">
      <a
        href="https://github.com/svausOL/hienico/files/10968572/BusinessLicense.pdf"
        target="_blank"
        rel="noreferrer noopener"
        class="business-license-link"
      >
        <div class="business-license-heading">
          <h3 class="business-license-header"><span>PDF Download</span></h3>
          <div class="business-license-container">
            <img
              alt="image"
              src="public/playground_assets/pdf_s-200h.png"
              class="business-license-image1"
            />
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
