<div>
  <link href="./cetpa.css" rel="stylesheet" />
  <div class="cetpa-article">
    <div class="cetpa-content">
      <a
        href="https://github.com/svausOL/hienico/files/10968572/BusinessLicense.pdf"
        target="_blank"
        rel="noreferrer noopener"
        class="cetpa-link"
      >
        <div class="cetpa-heading">
          <img
            alt="image"
            src="https://user-images.githubusercontent.com/127581878/230915471-1934a1d4-26ae-48ad-80c9-742e1ea1fd78.jpg"
            class="cetpa-image"
          />
          <div class="cetpa-cetpa1">
            <div class="cetpa-image1">
              <img
                alt="image"
                src="https://user-images.githubusercontent.com/127581878/229184819-2286afc5-602a-45ea-a2bd-9acd1f0d0607.jpg"
                class="cetpa-image2"
              />
            </div>
            <div class="cetpa-content1">
              <div class="cetpa-heading1">
                <img
                  alt="image"
                  src="https://user-images.githubusercontent.com/127581878/229307608-03a120a5-c474-447c-8645-28a84d65003b.png"
                  class="cetpa-image3"
                />
                <h2 class="cetpa-header"><span>CETPA Office Building</span></h2>
                <p class="cetpa-caption">
                  <span><span>Site area: 5,000 m2</span></span>
                  <br />
                  <span><span>BCR: 30%</span></span>
                  <br />
                  <span><span>FAR: 7.5</span></span>
                  <br />
                  <span><span>Floor/Basement: 10/1</span></span>
                  <br />
                  <span><span>GFA: 14,000 m2</span></span>
                  <br class="cetpa-text09" />
                  <span><span>Implementation: 2005–2007</span></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
