.cetpa-article {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  max-width: auto;
  align-items: center;
  flex-direction: column;
}
.cetpa-content {
  gap: var(--dl-space-space-threeunits);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cetpa-link {
  display: contents;
}
.cetpa-heading {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.cetpa-image {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.cetpa-cetpa1 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.cetpa-image1 {
  height: 530px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.cetpa-image2 {
  width: 540px;
  height: 540px;
  object-fit: cover;
}
.cetpa-content1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.cetpa-heading1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cetpa-image3 {
  width: var(--dl-size-size-large);
  height: auto;
  object-fit: cover;
}
.cetpa-header {
  color: rgb(53, 43, 42);
  font-size: 60px;
  font-style: normal;
  text-align: left;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 60px;
}
.cetpa-caption {
  color: rgb(53, 43, 42);
  font-size: 18px;
  max-width: 600px;
  text-align: left;
  font-family: Karla;
  line-height: 27px;
}
.cetpa-text09 {
  color: #352b2a;
  font-size: 18px;
  font-family: Karla;
  line-height: 27px;
}
@media(max-width: 991px) {
  .cetpa-image {
    width: 80%;
  }
  .cetpa-cetpa1 {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .cetpa-image3 {
    width: var(--dl-size-size-large);
    height: auto;
  }
}
@media(max-width: 767px) {
  .cetpa-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .cetpa-image {
    width: 70%;
  }
  .cetpa-image1 {
    width: 100%;
    height: auto;
    align-self: flex-start;
  }
  .cetpa-content1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .cetpa-heading1 {
    gap: var(--dl-space-space-unit);
  }
  .cetpa-image3 {
    width: var(--dl-size-size-medium);
    height: auto;
  }
  .cetpa-header {
    font-size: 32px;
    line-height: 31px;
  }
  .cetpa-caption {
    font-size: 16px;
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .cetpa-article {
    height: auto;
  }
  .cetpa-content {
    align-items: center;
  }
  .cetpa-heading {
    align-items: center;
  }
  .cetpa-image {
    width: 80%;
    height: auto;
  }
  .cetpa-image1 {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .cetpa-image2 {
    width: 340px;
    height: auto;
  }
  .cetpa-image3 {
    width: auto;
    height: var(--dl-size-size-small);
    align-self: flex-start;
  }
  .cetpa-caption {
    padding-right: var(--dl-space-space-fourunits);
  }
}
