<div>
  <link href="./complex.css" rel="stylesheet" />
  <div class="complex-article">
    <img
      alt="image"
      src="https://user-images.githubusercontent.com/127581878/229177489-c6ad3150-15f8-4e10-8e58-0da9767ff83f.jpg"
      class="complex-image"
    />
    <img
      alt="image"
      src="https://user-images.githubusercontent.com/127581878/229192082-b03f8ed6-8249-481b-8949-b6f26216bbac.jpg"
      class="complex-image1"
    />
    <div class="complex-content">
      <a
        href="https://github.com/svausOL/hienico/files/10968572/BusinessLicense.pdf"
        target="_blank"
        rel="noreferrer noopener"
        class="complex-link"
      >
        <div class="complex-heading">
          <h3 class="complex-header">
            <span>THE FLEMINGTON (586 COMPLEX)</span>
          </h3>
          <div class="complex-container">
            <img
              alt="image"
              src="https://user-images.githubusercontent.com/127581878/229272193-2856d42e-f3e0-4ade-abd9-52c1af0c7cf1.png"
              class="complex-image2"
            />
          </div>
          <div class="complex-container1"></div>
          <h3 class="complex-header1">
            <span>Lê Đại Hành - 3 Tháng 2, TP. HCM</span>
          </h3>
          <img
            alt="image"
            src="https://user-images.githubusercontent.com/127581878/229330233-0a1a1f32-435b-46e9-a42e-594b5694a521.jpg"
            class="complex-image3"
          />
        </div>
      </a>
    </div>
  </div>
</div>
