<div>
  <link href="./complex.css" rel="stylesheet" />
  <div class="complex-article">
    <div class="complex-container"></div>
    <a
      href="https://github.com/svausOL/hienico/files/10968572/BusinessLicense.pdf"
      target="_blank"
      rel="noreferrer noopener"
      class="complex-link"
    >
      <div class="complex-heading">
        <h3 class="complex-header">
          <span>THE FLEMINGTON (586 COMPLEX)</span>
        </h3>
        <div class="complex-container1">
          <img
            alt="image"
            src="https://user-images.githubusercontent.com/127581878/229272193-2856d42e-f3e0-4ade-abd9-52c1af0c7cf1.png"
            class="complex-image"
          />
        </div>
        <h3 class="complex-header1">
          <span>Lê Đại Hành - 3 Tháng 2, TP. HCM</span>
        </h3>
        <img
          alt="image"
          src="https://user-images.githubusercontent.com/127581878/229330233-0a1a1f32-435b-46e9-a42e-594b5694a521.jpg"
          class="complex-image1"
        />
      </div>
    </a>
    <img
      alt="image"
      src="https://user-images.githubusercontent.com/127581878/229177489-c6ad3150-15f8-4e10-8e58-0da9767ff83f.jpg"
      class="complex-image2"
    />
    <img
      alt="image"
      src="https://user-images.githubusercontent.com/127581878/229192082-b03f8ed6-8249-481b-8949-b6f26216bbac.jpg"
      class="complex-image3"
    />
    <img
      alt="image"
      src="https://user-images.githubusercontent.com/127581878/230904500-aa9789a4-14d6-47c8-a04e-47c270ff44b8.jpg"
      class="complex-image4"
    />
    <div class="complex-content">
      <a
        href="https://github.com/svausOL/hienico/files/10968572/BusinessLicense.pdf"
        target="_blank"
        rel="noreferrer noopener"
        class="complex-link1"
      >
        <div class="complex-heading1">
          <div class="complex-fleminton-resident">
            <div class="complex-image5">
              <img
                alt="image"
                src="https://user-images.githubusercontent.com/127581878/229303724-67a707d9-1aed-4c11-8696-e0dfb2efb138.jpg"
                class="complex-image6"
              />
            </div>
            <div class="complex-content1">
              <div class="complex-heading2">
                <p class="complex-caption">
                  <span><span>Site area: 11,067 m2</span></span>
                  <br />
                  <span><span>BCR: 42%</span></span>
                  <br />
                  <span><span>FAR: </span></span>
                  <span><span>7</span></span>
                  <br />
                  <span><span>Floor/Basement: 23/3</span></span>
                  <br />
                  <span><span>GFA: 109,001 m2</span></span>
                  <br />
                  <span><span>Total units: 330</span></span>
                  <br />
                  <span><span>Implementation: 2005</span></span>
                  <span><span>–2009</span></span>
                  <br />
                </p>
              </div>
            </div>
          </div>
          <div class="complex-office">
            <div class="complex-image7">
              <img
                alt="image"
                src="https://user-images.githubusercontent.com/127581878/229303813-45adbbfe-0bd0-4340-96cc-d8db03de917c.jpg"
                class="complex-image8"
              />
            </div>
            <div class="complex-content2">
              <div class="complex-heading3">
                <p class="complex-caption1">
                  <span><span>GFA: 5,500 m2</span></span>
                  <br />
                  <span><span>Floor/Basement: 25/3</span></span>
                  <br />
                  <span><span>Implementation: 2007</span></span>
                  <br />
                </p>
                <p class="complex-caption2">
                  <span><span>Site area: 11,067 m2</span></span>
                  <br />
                  <span><span>BCR: 42%</span></span>
                  <br />
                  <span><span>FAR: </span></span>
                  <span><span>7</span></span>
                  <br />
                  <span><span>Floor/Basement: 23/3</span></span>
                  <br />
                  <span><span>GFA: 109,001 m2</span></span>
                  <br />
                  <span><span>Total units: 330</span></span>
                  <br />
                  <span><span>Implementation: 2005</span></span>
                  <span><span>–2009</span></span>
                  <br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
