.guide-guide {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.guide-portrait {
  flex: 1;
  width: 100%;
  object-fit: cover;
}
.guide-details {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guide-name {
  color: #352B2A;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.guide-location {
  font-style: normal;
  font-weight: 500;
}
.guide-root-class-name {
  flex: 0 0 auto;
}
.guide-root-class-name1 {
  flex: 0 0 auto;
}
.guide-root-class-name2 {
  flex: 0 0 auto;
}
.guide-root-class-name3 {
  flex: 0 0 auto;
}
.guide-root-class-name4 {
  flex: 0 0 auto;
}
.guide-root-class-name5 {
  flex: 0 0 auto;
}
.guide-root-class-name6 {
  flex: 0 0 auto;
}
.guide-root-class-name7 {
  flex: 0 0 auto;
}
.guide-root-class-name8 {
  flex: 0 0 auto;
}
.guide-root-class-name9 {
  flex: 0 0 auto;
}
.guide-root-class-name10 {
  flex: 0 0 auto;
}
.guide-root-class-name11 {
  flex: 0 0 auto;
}
.guide-root-class-name12 {
  flex: 0 0 auto;
}
.guide-root-class-name13 {
  flex: 0 0 auto;
}
.guide-root-class-name14 {
  flex: 0 0 auto;
}
.guide-root-class-name15 {
  flex: 0 0 auto;
}
.guide-root-class-name16 {
  flex: 0 0 auto;
}
.guide-root-class-name17 {
  flex: 0 0 auto;
}
.guide-root-class-name18 {
  flex: 0 0 auto;
}
.guide-root-class-name19 {
  flex: 0 0 auto;
}
.guide-root-class-name20 {
  flex: 0 0 auto;
}
.guide-root-class-name21 {
  flex: 0 0 auto;
}
.guide-root-class-name22 {
  flex: 0 0 auto;
}
.guide-root-class-name23 {
  flex: 0 0 auto;
}
.guide-root-class-name24 {
  flex: 0 0 auto;
}
.guide-root-class-name25 {
  flex: 0 0 auto;
}
.guide-root-class-name26 {
  flex: 0 0 auto;
}
.guide-root-class-name27 {
  flex: 0 0 auto;
}
.guide-root-class-name28 {
  flex: 0 0 auto;
}
.guide-root-class-name29 {
  flex: 0 0 auto;
}
.guide-root-class-name30 {
  flex: 0 0 auto;
}
.guide-root-class-name31 {
  flex: 0 0 auto;
}
.guide-root-class-name32 {
  flex: 0 0 auto;
}
.guide-root-class-name33 {
  flex: 0 0 auto;
}
.guide-root-class-name34 {
  flex: 0 0 auto;
}
.guide-root-class-name35 {
  flex: 0 0 auto;
}
.guide-root-class-name36 {
  flex: 0 0 auto;
}
.guide-root-class-name37 {
  flex: 0 0 auto;
}
.guide-root-class-name38 {
  flex: 0 0 auto;
}
.guide-root-class-name39 {
  flex: 0 0 auto;
}
.guide-root-class-name40 {
  flex: 0 0 auto;
}
.guide-root-class-name41 {
  flex: 0 0 auto;
}
.guide-root-class-name42 {
  flex: 0 0 auto;
}
.guide-root-class-name43 {
  flex: 0 0 auto;
}
.guide-root-class-name44 {
  flex: 0 0 auto;
}
.guide-root-class-name45 {
  flex: 0 0 auto;
}
.guide-root-class-name46 {
  flex: 0 0 auto;
}
.guide-root-class-name47 {
  flex: 0 0 auto;
}
.guide-root-class-name48 {
  flex: 0 0 auto;
}
.guide-root-class-name49 {
  flex: 0 0 auto;
}
.guide-root-class-name50 {
  flex: 0 0 auto;
}
.guide-root-class-name51 {
  flex: 0 0 auto;
}
.guide-root-class-name52 {
  flex: 0 0 auto;
}
.guide-root-class-name53 {
  flex: 0 0 auto;
}
.guide-root-class-name54 {
  flex: 0 0 auto;
}
.guide-root-class-name55 {
  flex: 0 0 auto;
}
.guide-root-class-name56 {
  flex: 0 0 auto;
}
.guide-root-class-name57 {
  flex: 0 0 auto;
}
.guide-root-class-name58 {
  flex: 0 0 auto;
}
.guide-root-class-name59 {
  flex: 0 0 auto;
}
@media(max-width: 767px) {
  .guide-guide {
    gap: var(--dl-space-space-unit);
  }
  .guide-details {
    gap: 4px;
  }
}
