.investment-license-article {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 500px;
  align-items: center;
  flex-direction: column;
}
.investment-license-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.investment-license-content {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.investment-license-link {
  display: contents;
}
.investment-license-heading {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.investment-license-header {
  color: var(--dl-color-gray-black);
  width: 100%;
  font-size: 18px;
  max-width: 800px;
  font-style: normal;
  font-family: Cormorant Infant;
  font-weight: 600;
  line-height: 18px;
}
.investment-license-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.investment-license-image1 {
  width: 80px;
  height: 81px;
  object-fit: cover;
}
.investment-license-root-class-name {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
}
.investment-license-root-class-name1 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name2 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-fourunits);
}
.investment-license-root-class-name3 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-fourunits);
}








































































.investment-license-root-class-name76 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.investment-license-root-class-name77 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name78 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name79 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name80 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name81 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name82 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name83 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name84 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name85 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name86 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name87 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name88 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name89 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name90 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name91 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name92 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name93 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name94 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name95 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name96 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.investment-license-root-class-name97 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name98 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name99 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name100 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name101 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name102 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.investment-license-root-class-name103 {
  width: 100%;
  position: 0px;
  max-width: 1100px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
}
@media(max-width: 767px) {
  .investment-license-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .investment-license-header {
    font-size: 32px;
    line-height: 38px;
  }
  .investment-license-root-class-name {
    max-width: 100%;
  }
  .investment-license-root-class-name1 {
    max-width: 100%;
  }
  .investment-license-root-class-name2 {
    max-width: 100%;
  }
  .investment-license-root-class-name3 {
    max-width: 100%;
  }
  .investment-license-root-class-name4 {
    max-width: 100%;
  }
  .investment-license-root-class-name5 {
    max-width: 100%;
  }
  .investment-license-root-class-name6 {
    max-width: 100%;
  }
  .investment-license-root-class-name7 {
    max-width: 100%;
  }
  .investment-license-root-class-name8 {
    max-width: 100%;
  }
  .investment-license-root-class-name9 {
    max-width: 100%;
  }
  .investment-license-root-class-name10 {
    max-width: 100%;
  }
  .investment-license-root-class-name11 {
    max-width: 100%;
  }
  .investment-license-root-class-name12 {
    max-width: 100%;
  }
  .investment-license-root-class-name13 {
    max-width: 100%;
  }
  .investment-license-root-class-name14 {
    max-width: 100%;
  }
  .investment-license-root-class-name15 {
    max-width: 100%;
  }
  .investment-license-root-class-name16 {
    max-width: 100%;
  }
  .investment-license-root-class-name17 {
    max-width: 100%;
  }
  .investment-license-root-class-name18 {
    max-width: 100%;
  }
  .investment-license-root-class-name19 {
    max-width: 100%;
  }
  .investment-license-root-class-name20 {
    max-width: 100%;
  }
  .investment-license-root-class-name21 {
    max-width: 100%;
  }
  .investment-license-root-class-name22 {
    max-width: 100%;
  }
  .investment-license-root-class-name23 {
    max-width: 100%;
  }
  .investment-license-root-class-name24 {
    max-width: 100%;
  }
  .investment-license-root-class-name25 {
    max-width: 100%;
  }
  .investment-license-root-class-name26 {
    max-width: 100%;
  }
  .investment-license-root-class-name27 {
    max-width: 100%;
  }
  .investment-license-root-class-name28 {
    max-width: 100%;
  }
  .investment-license-root-class-name29 {
    max-width: 100%;
  }
  .investment-license-root-class-name30 {
    max-width: 100%;
  }
  .investment-license-root-class-name31 {
    max-width: 100%;
  }
  .investment-license-root-class-name32 {
    max-width: 100%;
  }
  .investment-license-root-class-name33 {
    max-width: 100%;
  }
  .investment-license-root-class-name34 {
    max-width: 100%;
  }
  .investment-license-root-class-name35 {
    max-width: 100%;
  }
  .investment-license-root-class-name36 {
    max-width: 100%;
  }
  .investment-license-root-class-name37 {
    max-width: 100%;
  }
  .investment-license-root-class-name38 {
    max-width: 100%;
  }
  .investment-license-root-class-name39 {
    max-width: 100%;
  }
  .investment-license-root-class-name40 {
    max-width: 100%;
  }
  .investment-license-root-class-name41 {
    max-width: 100%;
  }
  .investment-license-root-class-name42 {
    max-width: 100%;
  }
  .investment-license-root-class-name43 {
    max-width: 100%;
  }
  .investment-license-root-class-name44 {
    max-width: 100%;
  }
  .investment-license-root-class-name45 {
    max-width: 100%;
  }
  .investment-license-root-class-name46 {
    max-width: 100%;
  }
  .investment-license-root-class-name47 {
    max-width: 100%;
  }
  .investment-license-root-class-name48 {
    max-width: 100%;
  }
  .investment-license-root-class-name49 {
    max-width: 100%;
  }
  .investment-license-root-class-name50 {
    max-width: 100%;
  }
  .investment-license-root-class-name51 {
    max-width: 100%;
  }
  .investment-license-root-class-name52 {
    max-width: 100%;
  }
  .investment-license-root-class-name53 {
    max-width: 100%;
  }
  .investment-license-root-class-name54 {
    max-width: 100%;
  }
  .investment-license-root-class-name55 {
    max-width: 100%;
  }
  .investment-license-root-class-name56 {
    max-width: 100%;
  }
  .investment-license-root-class-name57 {
    max-width: 100%;
  }
  .investment-license-root-class-name58 {
    max-width: 100%;
  }
  .investment-license-root-class-name59 {
    max-width: 100%;
  }
  .investment-license-root-class-name60 {
    max-width: 100%;
  }
  .investment-license-root-class-name61 {
    max-width: 100%;
  }
  .investment-license-root-class-name62 {
    max-width: 100%;
  }
  .investment-license-root-class-name63 {
    max-width: 100%;
  }
  .investment-license-root-class-name64 {
    max-width: 100%;
  }
  .investment-license-root-class-name65 {
    max-width: 100%;
  }
  .investment-license-root-class-name66 {
    max-width: 100%;
  }
  .investment-license-root-class-name67 {
    max-width: 100%;
  }
  .investment-license-root-class-name68 {
    max-width: 100%;
  }
  .investment-license-root-class-name69 {
    max-width: 100%;
  }
  .investment-license-root-class-name70 {
    max-width: 100%;
  }
  .investment-license-root-class-name71 {
    max-width: 100%;
  }
  .investment-license-root-class-name72 {
    max-width: 100%;
  }
  .investment-license-root-class-name73 {
    max-width: 100%;
  }
  .investment-license-root-class-name74 {
    max-width: 100%;
  }
  .investment-license-root-class-name75 {
    max-width: 100%;
  }
  .investment-license-root-class-name76 {
    max-width: 100%;
  }
  .investment-license-root-class-name77 {
    max-width: 100%;
  }
  .investment-license-root-class-name78 {
    max-width: 100%;
  }
  .investment-license-root-class-name79 {
    max-width: 100%;
  }
  .investment-license-root-class-name80 {
    max-width: 100%;
  }
  .investment-license-root-class-name81 {
    max-width: 100%;
  }
  .investment-license-root-class-name82 {
    max-width: 100%;
  }
  .investment-license-root-class-name83 {
    max-width: 100%;
  }
  .investment-license-root-class-name84 {
    max-width: 100%;
  }
  .investment-license-root-class-name85 {
    max-width: 100%;
  }
  .investment-license-root-class-name86 {
    max-width: 100%;
  }
  .investment-license-root-class-name87 {
    max-width: 100%;
  }
  .investment-license-root-class-name88 {
    max-width: 100%;
  }
  .investment-license-root-class-name89 {
    max-width: 100%;
  }
  .investment-license-root-class-name90 {
    max-width: 100%;
  }
  .investment-license-root-class-name91 {
    max-width: 100%;
  }
  .investment-license-root-class-name92 {
    max-width: 100%;
  }
  .investment-license-root-class-name93 {
    max-width: 100%;
  }
  .investment-license-root-class-name94 {
    max-width: 100%;
  }
  .investment-license-root-class-name95 {
    max-width: 100%;
  }
  .investment-license-root-class-name96 {
    max-width: 100%;
  }
  .investment-license-root-class-name97 {
    max-width: 100%;
  }
  .investment-license-root-class-name98 {
    max-width: 100%;
  }
  .investment-license-root-class-name99 {
    max-width: 100%;
  }
  .investment-license-root-class-name100 {
    max-width: 100%;
  }
  .investment-license-root-class-name101 {
    max-width: 100%;
  }
  .investment-license-root-class-name102 {
    max-width: 100%;
  }
  .investment-license-root-class-name103 {
    max-width: 100%;
  }
}
@media(max-width: 479px) {
  .investment-license-article {
    height: 987px;
  }
  .investment-license-image {
    height: 814px;
  }
}
