<div>
  <link href="./investment-license.css" rel="stylesheet" />
  <div class="investment-license-article">
    <img
      alt="image"
      src="https://user-images.githubusercontent.com/127581878/224996932-e1b6bd63-f411-4274-add9-9f862db94738.png"
      class="investment-license-image"
    />
    <div class="investment-license-content">
      <a
        href="https://github.com/svausOL/hienico/files/10968579/InvestmentLicense.pdf"
        target="_blank"
        rel="noreferrer noopener"
        class="investment-license-link"
      >
        <div class="investment-license-heading">
          <h3 class="investment-license-header"><span>PDF Download</span></h3>
          <div class="investment-license-container">
            <img
              alt="image"
              src="public/playground_assets/pdf_s-200h.png"
              class="investment-license-image1"
            />
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
