<div>
  <link href="./kenda-cs.css" rel="stylesheet" />
  <div class="kenda-cs-article">
    <img
      alt="image"
      src="https://user-images.githubusercontent.com/127581878/226090256-3188b049-1654-40e7-a593-c0dd582e4901.jpg"
      class="kenda-cs-kenda1"
    />
    <div class="kenda-cs-content">
      <a
        href="https://github.com/svausOL/hienico/files/10968572/BusinessLicense.pdf"
        target="_blank"
        rel="noreferrer noopener"
        class="kenda-cs-link"
      >
        <div class="kenda-cs-heading">
          <h3 class="kenda-cs-header"><span>建大轮胎三期工程</span></h3>
          <div class="kenda-cs-container">
            <img
              alt="image"
              src="https://user-images.githubusercontent.com/127581878/230277472-6958858b-1ce2-4e27-9476-e83b79f66229.png"
              class="kenda-cs-kendalogo"
            />
          </div>
          <div class="kenda-cs-container1"></div>
          <h3 class="kenda-cs-header1"><span>施工前</span></h3>
          <img
            alt="image"
            src="https://user-images.githubusercontent.com/127581878/230282536-0b56070f-ecda-4615-8bc9-863ae41fd00a.jpg"
            class="kenda-cs-before"
          />
        </div>
      </a>
    </div>
  </div>
</div>
