<div>
  <link href="./kenda-vn.css" rel="stylesheet" />
  <div class="kenda-vn-article">
    <img
      alt="image"
      src="https://user-images.githubusercontent.com/127581878/226090256-3188b049-1654-40e7-a593-c0dd582e4901.jpg"
      class="kenda-vn-kenda1"
    />
    <div class="kenda-vn-content">
      <a
        href="https://github.com/svausOL/hienico/files/10968572/BusinessLicense.pdf"
        target="_blank"
        rel="noreferrer noopener"
        class="kenda-vn-link"
      >
        <div class="kenda-vn-heading">
          <h3 class="kenda-vn-header">
            <span>CTY CAO SU KENDA (VIỆT NAM) Giai đoạn 3</span>
          </h3>
          <div class="kenda-vn-container">
            <img
              alt="image"
              src="https://user-images.githubusercontent.com/127581878/230277472-6958858b-1ce2-4e27-9476-e83b79f66229.png"
              class="kenda-vn-kendalogo"
            />
          </div>
          <div class="kenda-vn-container1"></div>
          <h3 class="kenda-vn-header1"><span>Trước khi xây dựng</span></h3>
          <img
            alt="image"
            src="https://user-images.githubusercontent.com/127581878/230282536-0b56070f-ecda-4615-8bc9-863ae41fd00a.jpg"
            class="kenda-vn-before"
          />
        </div>
      </a>
    </div>
  </div>
</div>
