<div>
  <link href="./tran-hung-dao.css" rel="stylesheet" />
  <div class="tran-hung-dao-article">
    <img
      alt="image"
      src="https://user-images.githubusercontent.com/127581878/229309364-b462ad3d-c256-4532-bdff-39a12c613273.jpg"
      class="tran-hung-dao-image"
    />
    <div class="tran-hung-dao-content">
      <a
        href="https://github.com/svausOL/hienico/files/10968572/BusinessLicense.pdf"
        target="_blank"
        rel="noreferrer noopener"
        class="tran-hung-dao-link"
      >
        <div class="tran-hung-dao-heading">
          <img
            alt="image"
            src="https://user-images.githubusercontent.com/127581878/229308910-b507c95d-199c-4ba5-b99d-b7db606355ef.jpg"
            class="tran-hung-dao-image1"
          />
          <h3 class="tran-hung-dao-header">
            <span>URBAN REVITALIZATION</span>
          </h3>
          <h3 class="tran-hung-dao-header1">
            <span>
              Trần Hưng Đạo + Phạm Ngũ Lão + Nguyễn Thái Học, Ho Chi Minh City
            </span>
          </h3>
        </div>
      </a>
    </div>
  </div>
</div>
