<div>
  <link href="./tran-hung-dao.css" rel="stylesheet" />
  <div class="tran-hung-dao-article">
    <img
      alt="image"
      src="https://user-images.githubusercontent.com/127581878/229309364-b462ad3d-c256-4532-bdff-39a12c613273.jpg"
      class="tran-hung-dao-image"
    />
    <div class="tran-hung-dao-content">
      <a
        href="https://github.com/svausOL/hienico/files/10968572/BusinessLicense.pdf"
        target="_blank"
        rel="noreferrer noopener"
        class="tran-hung-dao-link"
      >
        <div class="tran-hung-dao-heading">
          <img
            alt="image"
            src="https://user-images.githubusercontent.com/127581878/230916758-e9b0d924-b7d4-4993-b41c-32b4c295a269.jpg"
            class="tran-hung-dao-image1"
          />
          <img
            alt="image"
            src="https://user-images.githubusercontent.com/127581878/229308910-b507c95d-199c-4ba5-b99d-b7db606355ef.jpg"
            class="tran-hung-dao-image2"
          />
          <h3 class="tran-hung-dao-header">
            <span>URBAN REVITALIZATION</span>
          </h3>
          <h3 class="tran-hung-dao-header1">
            <span>
              Trần Hưng Đạo + Phạm Ngũ Lão + Nguyễn Thái Học, Ho Chi Minh City
            </span>
          </h3>
          <div class="tran-hung-dao-tran-hung-dao-2">
            <div class="tran-hung-dao-content1">
              <div class="tran-hung-dao-heading1">
                <h2 class="tran-hung-dao-header2">
                  <span><span>Commercial</span></span>
                  <br />
                  <span><span>/Residential Complex</span></span>
                </h2>
                <p class="tran-hung-dao-caption">
                  <span><span>Site area:13,000 m2</span></span>
                  <br />
                  <span><span>BCR: 70%</span></span>
                  <br />
                  <span><span>FAR：11.5</span></span>
                  <br />
                  <span><span>Floor/Basement: 25/4</span></span>
                  <br />
                  <span><span>GFA: 189,500 m2</span></span>
                  <br />
                  <span><span>Implementation: 2006</span></span>
                  <span><span>–2007</span></span>
                </p>
              </div>
            </div>
            <div class="tran-hung-dao-image3">
              <img
                alt="image"
                src="https://user-images.githubusercontent.com/127581878/229186596-d2fa60b8-ce67-4553-bb60-df9f15f4a353.jpg"
                class="tran-hung-dao-image4"
              />
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
